[2016-09-20 15:36] klokan opened #3 "Load & save from GitHub (repo / gist)"
It would be really great to have a possibility to load / save from GitHub (repo or gist).

This gives the tool the most open and free online storage with complete editing history!

The complete functionality can be extracted from GeoJSON.io - http://geojson.io/ which is 100% open-source: https://github.com/mapbox/geojson.io (see [src/source](https://github.com/mapbox/geojson.io/tree/gh-pages/src/s

[2016-09-20 15:45] lukasmartinelli commented on #3
Good idea for the online version!!

Want to think more about storage options - would also be possible to support a local filesystem if I wrap it in Electron.
So perhaps there are 3 storage options:

- local storage
- gist storage
- file storage (if a filesystem is available aka running in electron)

[2016-09-23 02:02] stirringhalo opened #4 "Comparison swiper"
Great effort, glad to see this! Styling by hand was always the pain...

I'd love to see a comparison wiper like http://45.56.99.211/. I used the editor here https://github.com/erikandre/mapbox-gl-style-editor with some tweaks here https://github.com/stirringhalo/mapbox-gl-style-editor to get the side-swipe.

[2016-09-23 02:06] stirringhalo commented on #3
To add onto this as I'm not sure if you're touching on it, I'd love to see it so that it also uses the webhooks of github to auto-update on push. For example, with http://45.56.99.211/, the style is auto-updated the second a push happens to the watched repo. With the editor, I have it simply triggered so that on push, it reboots the entire editor with the latest style from the repo.

[2016-09-25 05:52] klokan opened #5 "Style by coding (YAML, ...)"
At SOTM we have discussed a need to be able to write the style by hand as well...

There is the @tmcw codeflow project which demonstrates such approach with YAML, TOML and JSON5 syntax for the GL JSON format.

Details in:
http://www.macwright.org/2015/08/17/mapbox-gl-codeflow.html

The code:
https://github.com/mapbox/mapbox-gl-codeflow-example

[2016-09-26 15:28] lukasmartinelli opened #6 "Maputnik as local editing tool"
It is quite easy to package Maputnik into an Electron app (or https://github.com/miketheprogrammer/go-thrust executable).

This means we have the following advantages:
- Directly interact with the file on disk
  - Better integration with GIT
  - Perhaps support file watching to reload even if you change the file with your editor
- Access to internal and local vector tile servers

I want to keep th

[2016-09-26 15:47] lukasmartinelli opened #7 "OL3 Support"
_Brainstorming and links about OL3 support.._

An example of how to use vector tiles with OL3 has been given at FOSS4G: http://ahocevar.net/whats-new-and-cool-in-openlayers/examples/vector-tiles.html

Links to code:
- https://github.com/ahocevar/whats-new-and-cool-in-openlayers/blob/gh-pages/examples/vector-tiles.html
- http://openlayers.org/en/v3.17.1/examples/resources/mapbox-streets-v6-style.js

[2016-09-26 18:49] lukasmartinelli commented on #7
Wow that was easy. Replaced Mapbox GL with OL3 in https://github.com/maputnik/editor/commit/5faa9716b45a67bbcb7b4ff39aacba9b7e1699ba.

Obviously far from perfect - but by just calling a new map render each time
we can already do some basic editing... this is really doable with OL3. Very excited.

/cc @jj0hns0n @klokan

![jovoc7xgxi](https://cloud.githubusercontent.com/assets/1288339/18847382/57515

[2016-09-26 18:52] jj0hns0n commented on #7
:)

[2016-09-28 06:24] lukasmartinelli opened #8 "Editor UX Comparison"
Some screenshots of other map editors.
I left out QGIS because imho how you need to style in QGIS doesn't translate to the web well.
## Google Style Wizard

I quite like the 3-drawer thing on the Google Wizard with "Layers > Properties > Editor"

<img width="986" alt="wizard_choose" src="https://cloud.githubusercontent.com/assets/1288339/18902672/bbd678ba-8554-11e6-82f1-9ad332c5a76d.png">

<img wi

[2016-09-28 06:28] lukasmartinelli commented on #6
Better to just have a binary people can download an run and then they visit the editor in the browser (than embedding a browser itself).

The desktop/server executable is in a different repo since it really is just wrapping around the actual web based editor: **https://github.com/maputnik/desktop**

With Golang cross platform is really easy (and embedding works also well).
Right now https://github

[2016-09-28 18:32] lukasmartinelli opened #9 "Tegola Tileserver Integration"
https://github.com/terranodo/tegola will provide a capabilities endpoint. Preferably in TileJSON format https://github.com/mapbox/tilejson-spec.

This should be all that's needed to have Tegola play nicely with Maputnik.

[2016-09-28 18:34] lukasmartinelli opened #10 "How to distribute Styles?"
An important part of Maputnik will be to share styles with each other. The JSON is perhaps enough - perhaps not and we need a ZIP file for having local fonts and glyphs.

We just need to think about how people can share their styles.

[2016-09-28 18:52] lukasmartinelli commented on #8
So we just had a meeting with Jeffrey Johnsan and Gretchen Peterson.

Aspects mentioned:

- Make sure users can start right away. Give them a base map to edit. Not first choose the data
- Grouping of layers indeed useful to modify attributes together
- Having data there to style is just as important (luckily OSM2VectorTiles helps us here)
- Collapsing layers not necessarily bad - since it doesn't

[2016-09-29 19:12] kalxas opened #11 "Failing to serve maputnik through a reverse proxy"
Hi,

I have tried to proxy localhost:8888 to localhost/maputnik under apache and I am getting an empty page with "Loading..." message.
When building and moving to a static folder to serve from, I am getting the following error:
"Reference error: r is not defined"

Any ideas?
Thanks,
Angelos

[2016-09-29 19:14] lukasmartinelli commented on #11
It is very early days but you can see how I do the hosting for the demo page here: https://github.com/maputnik/website

Check the demo folder: https://github.com/maputnik/website/tree/master/demo

[2016-09-29 19:15] tmcw commented on #8
If you do implement something similar, please don't call it X-Ray mode - it is, as far as I know, something that folks at Mapbox created the first implementation of and have consistently named since. It's not really a generic term as much as a specific feature from Studio Classic & Studio.

[2016-09-29 19:17] kalxas commented on #11
Thanks Lukas
Will try this and let you know

[2016-09-29 19:18] lukasmartinelli commented on #8
Will do. Absolutely understand.

We will take care to make our own decisions and naming in building the editor. The current state is the initial prototype.

[2016-09-29 19:28] almccon commented on #8
@lukasmartinelli Also checkout Mapzen's Tangram Play GUI editor: https://github.com/tangrams/tangram-play

![screenshot](https://cloud.githubusercontent.com/assets/1212178/18969021/3cf37632-8640-11e6-851e-75e04a9d5210.png)

[2016-09-29 22:39] ThomasG77 commented on #8
Less visual, but when I maintain Shift + drawing a rectangle to zoom on the extend, I want to see a rectangle whereas it works, it's far from being obvious.
To use rotation, drag + maintaining Ctrl works.
In both case, hidden behaviour to explain somewhere IMO.

I would also like to know how do you want to manage scales/zoom levels styles. No opinion ATM, just didn't see it in the demo.

[2016-10-04 16:49] orangemug commented on #10
I have also been thinking about offine usage of styles. Basically what I would like is for a styles to define all the assets they require to be functional offline. Basically so     they can be downloaded by

 - A desktop client
 - A server on first deploy
 - A service worker to be put in the browser cache

How about adding a manifest with information about where the different assets are available

[2016-10-04 17:07] lukasmartinelli commented on #10
Don't have a solution ready... Happy to accept proposals - no opinions on my side yet.
Just that enduser experience matters. Users must be able to share editable styles. Only this way we can get people to play.

With Mapbox Studio Classic there was the `tm2z` format that bundled everything.
In the GL spec the styles just point to the asset URIs (sprites and glyphs). This is already enough to pull

[2016-10-04 17:37] orangemug commented on #10
I guess only if you can recursively download the assets, which you can't with the following for example

[code]

This will mean you end up with lots of styles with slightly different versions of typefaces over time

I'll work on a spec of my ideas around the manifest tomorrow you can see what you think

[2016-10-04 21:01] meekjt commented on #8
I like how the Maputnik demo has the attribute editor extend below the layer label. The other examples all have drawers that extend to cover a lot of the map content. It might be unavoidable to cover some content with the editor, but I think it should be minimized if possible.

I also think the use of the Material Design icons, I think they are becoming quite familiar to users in general.

[2016-10-05 06:25] lukasmartinelli commented on #8
I also like the accordion style and that it only uses vertical screen real estate.
The only limitation I see with it is that it prevents/makes difficult future styling of multiple layers at the same time. So selecting multiple layers and editing a property in all of them. But don't know whether we will implement this in foreseeable future.

[2016-10-20 02:13] joaokho opened #12 "Is possible to change source to local mbtiles?"
Maputnik editor > Source is "url": "https://osm2vectortiles.tileserver.com/v2.json"
It's possible to change to point to mbtiles file ?

[2016-10-20 09:14] lukasmartinelli commented on #12
Well you still need to serve the MBTiles somewhere.
But it is totally possible to switch it to a localhost TileJSON URL! (well not from the online demo page).

We can think about building a small tileserver into https://github.com/maputnik/desktop.
To make it as easy as drop in a MBTiles into the same folder.

[2016-10-21 08:06] severak opened #13 "Confusing icons"
Up and down icons are bit confusing for the first time users.

Consider using classic open (suitcase) and save (floppy) icons instead.

[2016-11-13 21:12] pka commented on #8
For the sake of completeness, a screenshot ot [Carto Builder](https://carto.com/builder/):

![cartobuilder](https://cloud.githubusercontent.com/assets/19007/20248878/7b1d7644-a9ed-11e6-86ce-58b7dcd11ad0.jpg)

[2016-11-14 02:49] jingsam commented on #8
Google Style Wizard is great. We could start from there. However, some issues should be concerned during designing  the UX:
1. The UI of editor should be disparity from mapbox-studio style. As Mapbox is watching this project and OSM2Vectortiles, we should make efforts to avoid any illegal issues.
2. The viewport of map should be maximize. If the style panel overlaps half of the screen, it is hard

[2016-11-17 11:53] klokan commented on #10
Related repo: https://github.com/klokantech/gl-style-package-spec
Feel free to create tickets there to move the ideas forward

[2016-11-18 17:17] lukasmartinelli commented on #10
@orangemug [generates the font artefacts](https://github.com/orangemug/font-glyphs/blob/master/deploy.sh) via Travis and stores it in GitHub pages from the repo https://github.com/orangemug/font-glyphs which is a cool idea.

[2016-11-18 19:06] orangemug commented on #10
@lukasmartinelli there is also a v2 in the works that supports any font from google fonts (I'll make it public next week)

[2016-11-22 18:50] scpeterson opened #16 "Maputnik error installing on Windows"
Will Maputnik run on windows?  I have Windows 8.1 with Node 4.6.0 and npm 3.10.8.  When I run "npm run start" I get the following errors:

 http://127.0.0.1:8888/
webpack result is served from /
content is served from ./public
404s will fallback to /index.html
Hash: [1m0a7bde689f31f50e4dd7[22m
Version: webpack [1m1.13.2[22m
Time: [1m6005[22mms
chunk    {[1m[33m0[39m[22m} [1m[32mbundle.

[2016-11-23 09:21] lukasmartinelli commented on #16
I will distribute the app as binary as well through https://github.com/maputnik/desktop (WIP).
However it should be installable and people should be able to develop on Windows as well.
Will take care of it. Added a build script with AppVeyor to ensure it will work on Windows.

Have never tested it with Node 4.6 - can add it to the build script.
I get the same error - will investigate.

[code]

[2016-11-24 10:06] lukasmartinelli opened #17 "Add Tileset"
First precondition in order to create new layers is that you have a tile source - the tileset.
When you startup Maputnik there will be a default style with default tilesources but once you start working on on your own style you will need to add a new tilesource (e.g. from a different public tileset or by referencing your own vector tile endpoint like Tegola).

You click somewhere on "Create Layer"

[2016-11-24 10:37] lukasmartinelli opened #18 "Choose Fonts and Glyphs Endpoints"
For at least Mapbox GL you will need to choose your font/glyphs endpoint.
https://www.mapbox.com/mapbox-gl-style-spec/#glyphs

Example:

Via HTTP

[code]

## Font Metadata Endpoint

It is not just enough to know the endpoint of the glyphs but one also wants to know which *fontstacks* are available.
Therefore everyone who hosts fonts needs to provide a font metadata endpoint delivering information

[2016-11-24 10:39] lukasmartinelli commented on #13
Agree. I want to always also provide text for the actions as well.
Only icons is a bad idea.

I like the action bar of Tangram Play.

![tangram_play](https://cloud.githubusercontent.com/assets/1288339/20595560/a7fb01cc-b23a-11e6-8890-522e570b0a27.png)

[2016-11-24 16:12] lukasmartinelli opened #19 "Choose from Map Style Gallery"
I really like this feature in Tangram Play and would like something similar. Goes hand in hand with #10

![gpkcm9amer](https://cloud.githubusercontent.com/assets/1288339/20604901/1c4efafa-b269-11e6-8277-30ec40e24d5f.gif)

[2016-11-24 16:16] lukasmartinelli commented on #12
@joaokho I think this will have low prio for now.
I might be confusing to understand the distinction between tileserver and editor if I build tileserving capabilities into the Maputnik binary.

You will need a tileserver if you host your own tiles anyway (like Tegola, T-Rex or Tileserver GL) and if you use a public tileset (thoughts in #17) you can still get started with a style. So for now this w

[2016-11-24 17:51] lukasmartinelli opened #20 "Editor Layout"
I thought about the layout.. not decided yet.
See comparison with other editors #8.

![new mockup 3](https://cloud.githubusercontent.com/assets/1288339/20605347/3d02f6b4-b26b-11e6-8149-f869e88b67a5.png)

One decision is whether to have layer view left or right.
I prefer left a lot for 2 because it is easier to show new modals like a color picker on the right side.
Basically you have space to expan

[2016-11-24 19:00] lukasmartinelli opened #21 "Groups and Order of Fields in Layer Editor"
The layer editor is a very crucial part.

![new_mockup_3](https://cloud.githubusercontent.com/assets/1288339/20607974/652c04f2-b27d-11e6-93ad-eaee2cab603d.png)

How it works now is that I just take **all the fields from the spec for the layer type** and then just displays the fields.
This does not work well for many fields.

Also properties can depend on each other! So some properties are not rele

[2016-11-24 19:11] lukasmartinelli commented on #7
Should OL3 support be alongside Mapbox GL or should it be compiled separately.
I don't like to ship huge JavaScript files with two renderes but I think even worse is having
two versions of Maputnik.

If both render engines are shiped then
in the editor one would then be able to choose the renderer for the style.

![new_mockup_3](https://cloud.githubusercontent.com/assets/1288339/20608409/fe5e1332-

[2016-11-24 19:18] lukasmartinelli opened #22 "Choose Renderer per Style"
As initially described in #7 one should be able to switch the renderer in the editor. Feasibility yet to be tested.

- [x] Build Maputnik with two renderers
- [x] Be able to switch Renderer via config
- [x] Store default renderer in metadata of style
- [x] Add option to toolbar

<img width="553" alt="welcome_-_web_demo_project" src="https://cloud.githubusercontent.com/assets/1288339/20608529/0a659

[2016-11-29 08:15] coyotey opened #23 "Uncaught TypeError: fs.readFileSync is not a function in mapbox index.js"
var fs = require('fs');
var path = require('path');

// readFileSync calls must be written out long-form for brfs.
module.exports = {
  debug: {
    **fragmentSource: fs.readFileSync(path.join(__dirname, 'src/debug.fragment.glsl'), 'utf8'),   //Uncaught TypeError: fs.readFileSync is not a function**
    vertexSource: fs.readFileSync(path.join(__dirname, 'src/debug.vertex.glsl'), 'utf8')
  },

[2016-11-29 08:36] lukasmartinelli commented on #23
Can you post your platform, Node version etc?
Node 4,5,6 and Linux, Windows, OSX are all working in continous integration.

[2016-11-30 02:59] coyotey commented on #23
node  v4.6.0
Windows 10 X64

[2016-11-30 08:46] lukasmartinelli commented on #23
I can only test on Windows Server 2012 R2 (x64) via continous integration.

Do the following commands work?

[code]

I guess it's a build issue of Mapbox GL. But supporting everything on Windows is a bit difficult - that's why I will provide it as downloadable exe in the end.

[2016-12-04 15:52] meekjt commented on #5
I agree, this would be helpful for styling attributes not yet supported by the graphical editor. YAML would be my first choice since it is more compact than JSON.

[2016-12-04 19:15] lukasmartinelli commented on #20
Draft of layout.

![screenshot from 2016-12-04 16-56-15](https://cloud.githubusercontent.com/assets/1288339/20867340/a5f8acde-ba42-11e6-933a-823d1ca9e3a6.png)

[2016-12-09 12:28] orangemug commented on #18
With regards to the font metadata endpoint, v2 of font-glyphs has implemented something similar https://orangemug.github.io/font-glyphs-v2/glyphs/index.json.

Also apologies for the delay

[2016-12-19 09:03] topwood commented on #23
I meet the same problem.

[2016-12-19 09:07] topwood commented on #23
I meet the same problem.

it seems that node.js code has been bundled in the brower's javascript file

[2016-12-20 09:23] klokan commented on #3
The best-practice for how to store the GL styles and it's assets in editable form inside of GitHub repo / Gist is now defined at https://github.com/klokantech/gl-style-package-spec (implemented by @jirik)
Examples of such "gl-style" repos exist now - we have spent quite a lot of time on this already...

I am keen to have a web instance of the editor (ideally hosted on OpenMapTiles domain) with abi

[2016-12-22 22:55] lukasmartinelli commented on #22
![peek 2016-12-22 23-53](https://cloud.githubusercontent.com/assets/1288339/21443003/fa967a24-c8a1-11e6-8296-4a3c7657f488.gif)

[2016-12-22 22:55] #22 closed

[2016-12-22 22:56] lukasmartinelli commented on #21
Fields per layer type and how they are grouped is configurable via a JSON file. https://github.com/maputnik/editor/blob/master/src/config/layout.json
This also allows creating custom configs to exclude properties that don't work e.g. with OpenLayers3.

![screenshot from 2016-12-22 23-56-12](https://cloud.githubusercontent.com/assets/1288339/21443040/3d65eeca-c8a2-11e6-9a81-789c70346324.png)

[2016-12-22 22:56] #21 closed

[2016-12-22 22:57] lukasmartinelli commented on #19
![screenshot from 2016-12-22 23-57-15](https://cloud.githubusercontent.com/assets/1288339/21443055/6485d894-c8a2-11e6-8070-decfe1c74f25.png)

[2016-12-22 22:57] #19 closed

[2016-12-22 22:58] lukasmartinelli commented on #17
The design idea has been implemented - it is not functional yet though.

![screenshot from 2016-12-22 23-58-29](https://cloud.githubusercontent.com/assets/1288339/21443075/8cf8f4d2-c8a2-11e6-97a8-b63f7dd46fe5.png)

[2016-12-22 22:58] #17 closed

[2016-12-22 23:00] lukasmartinelli commented on #20
I am quite happy how it turned out now.
Any thoughts?

![screenshot from 2016-12-22 23-59-49](https://cloud.githubusercontent.com/assets/1288339/21443101/c86e1ae2-c8a2-11e6-9b86-18c3886af38d.png)

[2016-12-22 23:02] lukasmartinelli commented on #9
https://github.com/terranodo/tegola/issues/83 Actually I don't require any metadata by a tileserver as of today. I just parse the vector tiles and figure out whats inside them.
Perhaps that will hit a wall in the future but this way one can also specify `{x}/{y}/{z}.pbf` URLs.
So tegola should be fine anyway :grin:

[2016-12-22 23:02] #9 closed

[2016-12-23 09:59] muesliq opened #24 "Feedback: Editor controls & more"
I just test-drove v0.2.2. Wow, feels great!

What I'm missing is a bunch of editor controls:

- **Commit / enter**: I would want to choose when to reload the map with all the changes I made. (In contrast to: reload it on unfocus of a form field.)
- **Undo**: I would want to undo the last action. (An action history would be perfect of course at some point.)
- **Inspect**: I want to be able to choos

[2016-12-23 13:49] lukasmartinelli opened #25 "Support Undo"
The entire map style is available on each change anyway in the root therefore undo should be straightforward to implement.

- [x] Store past style versions in memory
- [x] CTRL+Z bindings for undo
- [x] CTRL+Y bindings for redo
- [x] Go back one style in the versions on undo
- [ ] Show small notification when doing undo

[2016-12-23 13:51] lukasmartinelli opened #26 "Inspection Mode"
As proposed in #24

- [x] Assign different colors for each layer
- [x] On click feature detection to show popup
- [x] Show properties and vector layers
- [x] Show style layers

[2016-12-23 13:54] lukasmartinelli opened #27 "Location Hash in Editor URL"
As proposed in #24

- [x] Support hash in Mapbox GL
- [ ] Support hash in OL3

[2016-12-23 13:59] lukasmartinelli opened #28 "Layer Comments"
As proposed in #24

- [ ] Add a new group for comments
- [ ] New component to modify the comment field in the metadata

[2016-12-23 14:00] lukasmartinelli commented on #24
Awesome! Thanks a lot for the feedback Helge! That's exactly what I want.

Could you elaborate on that?

Why is a explicit style change necessary? All changes made will always immediately in the map. Isn't that the most convenient way to do styling and also most UX friendly?

Undo is on the roadmap #25.

Inspect mode is on the roadmap #26

Good idea! Continues in #27

You mean editing the entire J

[2016-12-23 14:03] lukasmartinelli commented on #13
I never only show icons now (except for the actions in the layers).

![screenshot from 2016-12-23 15-01-04](https://cloud.githubusercontent.com/assets/1288339/21455495/e6a306fc-c920-11e6-85a0-169211fc3406.png)
![screenshot from 2016-12-23 15-01-51](https://cloud.githubusercontent.com/assets/1288339/21455494/e6a2b42c-c920-11e6-827d-86dcc357ec09.png)

[2016-12-23 14:03] #13 closed

[2016-12-23 15:14] lukasmartinelli commented on #25
Well that was easy :grinning:
Immutable application state allows you to plug in CTRL+Z in 10 minutes :heart:

![peek 2016-12-23 16-11](https://cloud.githubusercontent.com/assets/1288339/21456768/bd966150-c92a-11e6-8dfc-8564fe56aaf9.gif)

[2016-12-24 22:00] lukasmartinelli opened #29 "Add/Remove/Edit Stops in Zoom Level Functions"
- [ ] ~~Indicate better that the right ones are zoom level stops~~
- [x] Allow removing of a stop
- [x] Allow adding of a new stop
- [ ] ~~Allow turning a normal field into a zoom leve~~
- [x] Only show the field name once (more efficient use of available space)

![screenshot from 2016-12-24 22-58-52](https://cloud.githubusercontent.com/assets/1288339/21468879/9aaad600-ca2c-11e6-88b2-b9d67e004b59.

[2016-12-24 22:02] lukasmartinelli opened #30 "Circle Layer"
Add support for the circle layer type.

[2016-12-24 22:02] lukasmartinelli opened #31 "Fill Extrusion Layer"
Add support for the fill extrusion layer.

[2016-12-24 22:06] lukasmartinelli commented on #4
I have difficulty to imagine where this might fit?

One could compare revisions of style with each other. But I only save the latest version of a style to keep it simple (all currently edited revisions are in memory though for undo/redo) support.

I am probably not going to implement this because the editor has no support for having two styles at the same time and there is also no notion of having

[2016-12-24 22:08] lukasmartinelli opened #32 "JSON Mode Validation"
- [ ] Show errors when editing in the JSON mode

![screenshot from 2016-12-24 23-07-55](https://cloud.githubusercontent.com/assets/1288339/21468902/e0c63610-ca2d-11e6-9795-2148e345d938.png)

[2016-12-24 22:11] lukasmartinelli commented on #26
If one click on "Inspect" now it switches to a view where each layer has a random color and one can inspect features.

![screenshot from 2016-12-24 23-09-39](https://cloud.githubusercontent.com/assets/1288339/21468906/21cdb3d6-ca2e-11e6-955e-0e83b096fdba.png)

This also works on the normal map when clicking on something (no clicking and automatically switching to that layer though).

![screenshot

[2016-12-24 22:11] #20 closed

[2016-12-25 16:48] lukasmartinelli commented on #26
Improved the popups.

![screenshot from 2016-12-25 17-47-14](https://cloud.githubusercontent.com/assets/1288339/21472103/5ab1dbe0-caca-11e6-873d-e0975f662a0e.png)
![screenshot from 2016-12-25 17-47-01](https://cloud.githubusercontent.com/assets/1288339/21472104/5ab39fc0-caca-11e6-88c0-11e29baead44.png)

[2016-12-25 18:02] lukasmartinelli opened #33 "Show Style Spec Doc when hovering over Property Label"
![screenshot from 2016-12-25 19-01-09](https://cloud.githubusercontent.com/assets/1288339/21472335/aab0771e-cad4-11e6-9836-164a91da543c.png)

[2016-12-25 20:24] lukasmartinelli opened #34 "Pass Style URL via Query String"
Allows to send links to inspect a public style in Maputnik.

[code]

[2016-12-28 02:46] stirringhalo opened #35 "Implement Add/Remove Source"
Upon clicking on "Add Source" after adding the appropriate URL, I get:

"Uncaught TypeError: _this5.onSourceAdd is not a function"

On the latest docker image (latest from 15hrs ago) and on the public demo page.

[2016-12-28 07:54] lukasmartinelli commented on #35
Thanks. Add source is only UI so far without an implementation.

[2016-12-28 15:03] lukasmartinelli commented on #31
![peek 2016-12-27 12-15](https://cloud.githubusercontent.com/assets/1288339/21524540/1eeb6b7c-cd17-11e6-8344-1e7d9f812b70.gif)

[2016-12-28 15:23] stirringhalo commented on #31
:drooling_face:

[2016-12-29 16:33] lukasmartinelli opened #37 "Add Layer"
Have a good workflow for adding a layer.

![screenshot from 2016-12-29 17-33-13](https://cloud.githubusercontent.com/assets/1288339/21548494/eda04e58-cdec-11e6-96dc-362c79396073.png)

[2016-12-29 16:35] lukasmartinelli commented on #29
I have the UI for the new zoom level component.

![screenshot from 2016-12-29 17-34-47](https://cloud.githubusercontent.com/assets/1288339/21548546/353b424a-cded-11e6-8797-5cbb90cfb209.png)

[2016-12-29 16:37] lukasmartinelli commented on #26
The inspection mode is now contextual. With the current layer being highlighted and all others are much more transparent.

![screenshot from 2016-12-29 17-37-29](https://cloud.githubusercontent.com/assets/1288339/21548592/7e46f15a-cded-11e6-9c3f-8a7d4731ddef.png)
![screenshot from 2016-12-29 17-37-17](https://cloud.githubusercontent.com/assets/1288339/21548591/7e46b456-cded-11e6-8ff2-a73d67dbf277.

[2016-12-29 16:41] lukasmartinelli opened #38 "Better Filter Editing"
The current filter component only allows editing (not adding) and also does not support deeply nested filters.

![screenshot from 2016-12-29 17-41-18](https://cloud.githubusercontent.com/assets/1288339/21548669/068540da-cdee-11e6-9569-44df8901d9af.png)

[2016-12-29 16:43] lukasmartinelli opened #39 "Array Property"
Array properties https://www.mapbox.com/mapbox-gl-style-spec/#types-array are not supported yet.

[2016-12-29 20:23] lukasmartinelli commented on #24
This makes sense when editing JSON by hand.. there it is not comfortable if the editor reformats your now correct JSON each time.

[2016-12-30 12:20] lukasmartinelli opened #40 "Error Panel"
- [x] Capture map validation errors
- [x] Show panel with the current errors in the style

[2016-12-30 12:23] lukasmartinelli commented on #40
![screenshot from 2016-12-30 13-23-06](https://cloud.githubusercontent.com/assets/1288339/21565032/243cc030-ce93-11e6-9a0c-1277fcec4786.png)

[2016-12-30 12:25] lukasmartinelli opened #41 "Feature shows up twice in Inspect View"
Because there is a style for all the data and an additional style to highlight the current layer
the popup shows the same feature twice.

![screenshot from 2016-12-30 13-24-32](https://cloud.githubusercontent.com/assets/1288339/21565054/67194ff4-ce93-11e6-9bfa-e69f95f10559.png)

[2016-12-30 15:34] lukasmartinelli opened #42 "When switching Layer Type Remove Old Properties"
When switching the layers one needs to garbage collect the properties that were only relevant to the previous layer type.

[2016-12-30 16:37] lukasmartinelli opened #43 "Better UI component for Enum Values few Choices"
I am now showing multiple buttons instead of a select list if choices are less than 4 choices and total text length of 20 characters (see _Translate Anchor, Cap, Join_)

![screenshot from 2016-12-30 17-35-28](https://cloud.githubusercontent.com/assets/1288339/21568642/88c34434-ceb6-11e6-9448-f42f40986fff.png)

[2016-12-31 13:32] #25 closed

[2016-12-31 13:38] #40 closed

[2016-12-31 13:38] #42 closed

[2016-12-31 13:38] #43 closed

[2016-12-31 13:38] #33 closed

[2016-12-31 13:39] #35 closed

[2016-12-31 13:40] #26 closed

[2016-12-31 13:41] #31 closed

[2016-12-31 13:42] lukasmartinelli commented on #32
You won't see JSON validation errors but if as soon as you change something you will see errors if that matter to your style through the error panel #40.

Invalid JSON always resets to the previous value once you leave the editor.

[2016-12-31 13:42] #32 closed

[2016-12-31 13:42] #37 closed

[2016-12-31 13:56] lukasmartinelli commented on #39
At least editing works now. Adding new array items and deleting them not.

[2016-12-31 13:57] #39 closed

[2016-12-31 13:57] #29 closed

[2016-12-31 14:16] #30 closed

[2016-12-31 14:16] #24 closed

[2016-12-31 14:38] #27 closed

[2017-01-01 21:56] lukasmartinelli commented on #5
I think this has been adressed with both the JSON editor within Maputnik in each layer and
the possibility to edit a JSON locally and have it sync up with Maputnik.

https://youtu.be/vCFsrwocE9s

[![Edit local Style JSON with Maputnik](https://j.gifs.com/JZK8yg.gif)](https://youtu.be/vCFsrwocE9s)

[2017-01-01 21:56] #5 closed

[2017-01-04 08:07] lukasmartinelli opened #44 "Color Picker Format and Alpha Values"
The Alpha value slider does not work.

![screenshot from 2017-01-04 09-06-40](https://cloud.githubusercontent.com/assets/1288339/21635301/22bef3f4-d25d-11e6-9e53-11f6366b0c91.png)

[2017-01-04 10:38] lukasmartinelli opened #45 "Existing Style Metadata is Overriden"
Maputnik somehow replaces the existing metadata..

[2017-01-04 10:57] lukasmartinelli opened #46 "Editing Layer ID triggers too many Layer Changes"
When editing the layer ID it should only change the ID once the input is out of focus.
Otherwise this triggers layer changes on each keypress.
Perhaps that should be the default for all string fields.

[2017-01-04 11:00] #45 closed

[2017-01-04 14:04] muesliq commented on #46
I second the last sentence.

[2017-01-04 14:18] muesliq commented on #24
Awesome!

As to commit/enter: You are right, it's ok as it is implemented (and saves one click). However I would only apply changes on unfocus, not at every key stroke. (However those are just minor details.)

I love the new JSON edit function. This way current shortcomings as e.g. the missing control to add filters can easily be worked around.

Inspect: I actually meant stylesheet layer inspectio

[2017-01-04 14:48] lukasmartinelli commented on #24
Such feedback is always great :)

You're right. Makes sense on loose focus #46

Nice. I am working on styles with it now and that is actually an important part of the process to figure out whether it is actually comfortable to edit styles that way.

[2017-01-04 15:39] muesliq opened #47 "JSON error handling"
It's extremely useful to be able to directly edit each layer's JSON code. However, JSON isn't tolerant to errors, so it's really easy to break things. Currently erroneous JSON code seems to be rejected by Maputnik, i.e. not saved. This happens without any visual feedback. This is not optimal.

I really like the error handling https://github.com/erikandre/mapbox-gl-style-editor does. (Also, I guess

[2017-01-04 15:47] muesliq commented on #4
I really like the idea. My style creation workflow often involves comparison with other styles, not necessarily Mapbox GL styles but also raster tile styles.

While such a swiper would be really useful, it would have to be fast. My experience with GL swipers with vector / raster mixes is that they are very laggy. I prefer using different browser windows that I have 'synchronize' by hand to a laggy

[2017-01-04 18:51] klokan opened #48 "Hash link to start editing of a JSON style"
It would be great have a chance to create "Edit" links going to Maputnik instance (in our case on https://editor.openmaptiles.org/ - opening for editing directly a given JSON style (in future GitHub #3, but now at least loading the style from a given HTTP link).

Such a link can be also put into the GitHub repos of our styles.

[2017-01-04 19:18] lukasmartinelli commented on #48
Yes I want that too #34. :+1:

[2017-01-04 19:18] #48 closed

[2017-01-04 19:34] muesliq commented on #12
I would see a tileserver beyond scope for an editor. Maybe a tutorial how to use it with existing tileserver software would be cool, though.

[2017-01-04 19:40] muesliq commented on #3
Would this mean that every keystroke (or field unfocus) becomes a GitHub commit?

[2017-01-04 19:43] lukasmartinelli commented on #3
That would not be desirable - then we indeed need a Save/Export/Publish button. I do like the implicit saving though (and with the CTRL-Z/CTRL-Y you can always go back and forth).

[2017-01-04 19:43] lukasmartinelli commented on #12
I agree Helge.

[2017-01-04 19:43] #12 closed

[2017-01-04 19:44] muesliq commented on #3
+1 for the save/export/publish/commit button ;-)

[2017-01-04 19:44] lukasmartinelli commented on #23
With the newest Mapbox GL package this should be solved now.

[2017-01-04 19:44] #23 closed

[2017-01-04 19:46] lukasmartinelli commented on #6
This use case has been solved now. I am successfully editing local style JSONs.

[2017-01-04 19:46] #6 closed

[2017-01-04 19:46] #16 closed

[2017-01-04 19:47] lukasmartinelli commented on #38
Is that the biggest missing feature so far for you @muesliq?
Apart from the bugs that still need to be ironed out (source adding is quite buggy).

[2017-01-04 19:49] lukasmartinelli commented on #11
@kalxas Is that still the case?
Try the public.zip HTML distribution otherwise in https://github.com/maputnik/editor/releases

[2017-01-04 19:50] #4 closed

[2017-01-04 19:54] lukasmartinelli commented on #8
I think I found my UX style now (design has been the most difficult part actually - the rest is very straightforward).

![screenshot from 2017-01-04 20-51-56](https://cloud.githubusercontent.com/assets/1288339/21656802/deb994d0-d2bf-11e6-9ff0-e260e2e11ca1.png)
![screenshot from 2017-01-04 20-52-16](https://cloud.githubusercontent.com/assets/1288339/21656804/dec0ae14-d2bf-11e6-84ba-20f2c2599375.png

[2017-01-04 19:54] #8 closed

[2017-01-04 19:58] muesliq commented on #38
I would say so @lukasmartinelli, yes. However I'm not sure if all bugs are reported yet. Will check.

[2017-01-04 20:04] muesliq opened #49 "Style upload doesn't work"
I tried to test style upload on http://maputnik.com/editor/, yet it didn't work.

- No feedback was visible after upload a style of mine, the "Open Style" window was still there, looking the same as before.
- The map and the layer list had not been updated.
- Yet the style settings and the sources menu had. The settings of my uploaded style are shown.

Tested in Chrome.

[2017-01-04 20:16] muesliq opened #50 "Multiple style editing workflow"
I currently maintain four styles, a number that will rise considerably in the foreseeable future. Some improvements that I make to one of the styles will also improve the other styles (or some of them).

Currently I use the following workflow:

1. I work on a style for a session of some hours (up to one day)
2. Then I fire up a file merge tool (I use DiffMerge) loading the style I worked on as the

[2017-01-04 20:23] lukasmartinelli commented on #49
I can reproduce it when uploading a style - open another style with open and then try to upload a new one.

[2017-01-04 20:33] lukasmartinelli commented on #50
We should use your merge strategy :+1:

But the problem for us stemmed more because we were iterating on the vector tile schema and field values and layers were changing.

I guess a common pattern is that you have a base style (with some layers) and then a lot of other styles are just layers on top of that or changed colors.

Perhaps one idea would be to specify a base style URL in the metadata (w

[2017-01-04 20:37] muesliq opened #51 "UI feedback: Information hierarchy"
I like the UI, yet I think there is room for improvement. Status quo:

<img width="370" alt="screen shot 2017-01-04 at 21 28 26" src="https://cloud.githubusercontent.com/assets/1606618/21658069/52c56fac-d2c5-11e6-91eb-1320267480e5.png">

I recommend a stronger hierarchy between parents and children using size, indents and contrast:

<img width="371" alt="screen shot 2017-01-04 at 21 28 00" src="ht

[2017-01-04 20:44] muesliq commented on #49
Does upload work for you in any situation? Doesn't for me.

[2017-01-04 21:04] lukasmartinelli commented on #49
Yes it does.
It might be I throw some errors when validating and additional metadat to the style when first uploaded. I'll figure it out.

[2017-01-04 21:05] muesliq commented on #49
Ok. Let me know if you need more information.

[2017-01-04 21:13] lukasmartinelli commented on #51
It is at first sight indeed very difficult to orient yourself since everything looks the same.

[2017-01-04 21:21] muesliq commented on #51
Yep. The perfect way would be to work on a really good color palette with good contrasts. The pragmatic way would be to simply use significantly lighter greys for headers, mouse-over and the active layer ;-) Plus bigger/stronger text for headers.

BTW, the fact that all CSS is inline and not in an external CSS file makes editing quite hard.

[2017-01-04 21:38] muesliq commented on #50
There are various approaches that came to my mind, that could possibly be implemented in Maputnik (just some quick ideas):

**A. Includes**

The CSS way. Layers could be bundled into sub-stylesheets that could be included into styles. This would make sure that  , yet as (unlike with CSS) that's not part of the GL spec this would create a Maptnik-proprietary format that would have to be converted t

[2017-01-04 21:57] kalxas commented on #11
@lukasmartinelli thanks, I have not tested yet the latest version, on my todo list

[2017-01-04 22:03] muesliq opened #52 ""Enable zoom functions" missing"
There's a control for adding another stop but there is no way to convert a simple value field into stops (apart from editing the JSON spec). Mapbox Studio has an "Enable zoom functions" icon for that purpose.

[2017-01-04 22:09] muesliq commented on #52
Plus the base value.

[2017-01-04 22:22] muesliq opened #53 "Ease of use for novice users"
Maputnik is easy to use for anybody really familiar with Mapbox GL. Novice users however will run into a range of road bumps:

1. **Macro: Questions related to how stylesheet, vector tile sources, fonts and sprites play together**
Less important to novice users, as they rarely start with blank styles. However links to documentation and/or tutorials may help here.
2. **Mini: Questions related to Ma

[2017-01-04 22:47] muesliq commented on #38
Biggest missing feature apart from this is #52.

[2017-01-05 18:40] #34 closed

[2017-01-06 09:02] lukasmartinelli opened #54 "No feedback when loading local Style with invalid JSON"

[2017-01-08 09:17] mcmayer opened #56 "Darwin release broken?"
[code]

I'm not quite sure what's going on, `maputnik_darwin --help` and `--version` do work, but nothing else does.

It'm using the newest Darwin release [v0.3.1](https://github.com/maputnik/editor/releases/download/v0.3.1/maputnik_darwin).

[2017-01-08 09:37] lukasmartinelli commented on #56
Okay thanks for the report!
I'll add executing the CLI to the Travis tests to see wheter I can create a test regression.

[2017-01-08 09:45] mcmayer commented on #56
Linux and Win are fine.

[2017-01-08 16:39] lukasmartinelli commented on #56
Reuploaded fixed build to https://github.com/maputnik/editor/releases/tag/v0.3.1
Try it out again.

Thanks for reporting - now have a regression in travis for that.

[2017-01-08 16:39] #56 closed

[2017-01-08 16:56] lukasmartinelli opened #57 "Add Raster Source"

[2017-01-08 19:16] lukasmartinelli commented on #57
Okay working with raster sources works now.

[2017-01-08 19:16] #57 closed

[2017-01-08 19:27] lukasmartinelli opened #58 "Switch to Mapbox GL Inspect Plugin"
I want to switch the inspection viewer over to **https://github.com/lukasmartinelli/mapbox-gl-inspect.**

Because the inspection feature are very well suited as Mapbox GL plugin I factored them out.
So if you want to add a quick inspect view to your maps check it out.

[2017-01-09 11:04] #58 closed

[2017-01-09 15:40] mcmayer commented on #56
perfect. Thanks!

[2017-01-10 08:53] lukasmartinelli commented on #52
![screenshot from 2017-01-10 09-18-09](https://cloud.githubusercontent.com/assets/1288339/21799680/90007d04-d71a-11e6-86a2-501a41b4e3d4.png)

[2017-01-10 08:53] #52 closed

[2017-01-10 08:53] #46 closed

[2017-01-10 08:54] lukasmartinelli commented on #38
![screenshot from 2017-01-10 09-54-17](https://cloud.githubusercontent.com/assets/1288339/21799728/c5f29bb8-d71a-11e6-8f88-d5f277c2f9d0.png)

[2017-01-10 09:02] lukasmartinelli commented on #49
No I cannot replicate that. I can upload styles, even twice.

Can you look in the console window whether there are any errors? It might also be an issue with the style that Mapbox GL validate of the Mapbox GL version which is in Maputnik then reports.

[2017-01-10 10:39] lukasmartinelli commented on #18
Font and glyph endpoint is done through the normal `glyphs` and `sprite` url of the style.
Optionally these endpoints can provide metadata.

If sprite url is `https://openmaptiles.github.io/fiord-color-gl-style/sprite` then we request the https://openmaptiles.github.io/fiord-color-gl-style/sprite.json file for the icons.

If glyphs url is `http://fonts.openmaptiles.org/{fontstack}/{range}.pbf` we

[2017-01-10 10:39] #18 closed

[2017-01-10 10:41] lukasmartinelli commented on #10
From the Maputnik side of view still all I care is a `style.json`.

Fonts and glyphs must be managed externally (yes that is not ideal but these features can only be provided by a hosted platform or a server appication).

[2017-01-10 10:41] #10 closed

[2017-01-10 10:41] #11 closed

[2017-01-10 10:47] lukasmartinelli commented on #53
I also thought about this.

Maputnik is a pro tool (as is Mapbox Studio and Tangram play etc..). It is quite hard to make it usable for style makers and the "just tweak the color" user.

The most effective way to make this easier for novice user would be to limit the amount of properties. Because when you are starting out you probably can deal with the color fields and text fields but everything e

[2017-01-10 10:50] lukasmartinelli commented on #51
I also found out that on bad contrast monitors the different shades of gray are probably too close to each other.

I am also no longer so convinced from the React inline style approach as of the beginning of the project.
It is great for components that are used in other projects - but if it is mostly components for the same app stylesheets make sense again.

[2017-01-10 12:41] muesliq commented on #53
Great! With "novice users" I actually meant those not fully familiar with the style spec, and less "just tweak the color"-users.

[2017-01-10 13:06] muesliq commented on #49
My bad, header was misconfigured. So just #54.

[2017-01-10 13:06] #49 closed

[2017-01-10 13:16] muesliq commented on #44
Also: Color picker doesn't stay within a color format:

1. I click on a color field with **hsl** value.
2. The color picker opens showing the corresponding **HEX** value.
3. I click on a different color
4. The value in the color field is updated with the **rgba** value.

This is confusing. IMO formats should stay consistent (hsl in this case).

[2017-01-10 13:22] muesliq opened #60 "Layer tooltips should be clickable"
It would be a big improvement if layers were clickable, opening the corresponding layer in the sidebar.

![screen shot 2017-01-10 at 14 19 45](https://cloud.githubusercontent.com/assets/1606618/21807671/38f5a748-d740-11e6-82cc-5ad14578a417.png)

(Better even: Highlight the layer in the sidebar already on hover.)

[2017-01-10 13:30] lukasmartinelli commented on #44
:+1: I agree.

Right now I always request rgba from the color picker.
The main problem is that I don't get the chosen color state from the color picker. So I don't know that you have chosen a HSLA color in the picker - I only get the rgba value.

[2017-01-10 13:37] klokan commented on #60
+1

[2017-01-10 14:22] muesliq commented on #38
I'm not convinced that that's the best place to put the button. Best practice to extend a list by another element is in line with that list. (Below or above.) Now it's squashed between two elements that stand in no direct connection to that list.

Also the button styling is very similar to input fields. Doesn't look clickable.

I'd suggest something like this (also for Stops):

![screen shot 2017-

[2017-01-10 14:41] lukasmartinelli opened #61 "Layer List hides Layers"
I sometimes have trouble reaching all layers in the layer list. This is a CSS issue.
![screenshot from 2017-01-10 15-41-02](https://cloud.githubusercontent.com/assets/1288339/21810219/3611ddd4-d74b-11e6-9936-eda11833efcd.png)

[2017-01-10 14:42] lukasmartinelli commented on #38
Yes putting it below on the right is one option I haven't tried. Thanks.

[2017-01-10 15:05] lukasmartinelli opened #62 "Highlight Selected Layer better in Inspect View"
For lines and points it is difficult to see whether they are selected now because the opacity is not that much higher. Perhaps make them thicker and dim the other colors more.

[2017-01-10 15:14] lukasmartinelli opened #63 "Filter Editor Comparison between Text and Number"
The filter editor can not know whether I want to compare against a text or a number in a filter.
By default one could try to parse the number and then turn it into a number.

It is not that bad since you can always fix it in the JSON mode.

![screenshot from 2017-01-10 16-13-43](https://cloud.githubusercontent.com/assets/1288339/21811404/e0f53652-d74f-11e6-9e4f-4219cb8615ab.png)

[2017-01-10 15:24] muesliq commented on #38
Yep, the position is the important thing. A button there would probably do, too.

[2017-01-10 17:45] #61 closed

[2017-01-10 18:01] lukasmartinelli commented on #38
Moved it. I think I really need to expose the CSS so it is easy to hack and iterate.
Important part is that it is functional now.

Moved the button to the right bottom.
Perhaps the delete/zoom funcs should all be on the right to.

Will track further UX things in another ticket.

![screenshot from 2017-01-10 18-59-48](https://cloud.githubusercontent.com/assets/1288339/21818185/2570a912-d767-11e6-99

[2017-01-10 18:01] #38 closed

[2017-01-10 18:04] muesliq opened #64 "Design brushup proposal"
I drafted a quick proposal how to make the UI clearer and easier to use. Feel free to use it or not ;-)

![maputnik2](https://cloud.githubusercontent.com/assets/1606618/21817767/9cbc2764-d765-11e6-87d9-c9d5b21e8e69.png)

### Colors:

- White:
Section title font
Active layer font
Button font + stroke 1px
Active input field
- 666666
All other fonts
Scrollbars
- 262626
Active layer background
Hover l

[2017-01-10 18:06] lukasmartinelli commented on #64
Very nice I like it. Thanks a lot, appreciate it.
Will track progress on it on this ticket.

[2017-01-11 08:01] lukasmartinelli opened #65 "Migrate Inline Styles to CSS"

[2017-01-11 09:16] muesliq opened #66 "Folder in layer list?"
Mapbox Studio supports folders via metadata properties, if I'm not mistaken. I am not proposing to do the same, as this is a proprietary approach.

Yet there's a non-proprietary possibility to do the same: We could automatically bundle all adjacent layers that start with the same word into a folder.

Look at this example:

![screen shot 2017-01-11 at 10 11 13](https://cloud.githubusercontent.com/a

[2017-01-11 09:19] muesliq commented on #51
Replaced by #64.

[2017-01-11 09:19] #51 closed

[2017-01-11 09:33] orangemug commented on #64
You may want to increase the contrast slightly for accessibility reasons. For example `#262626` on a `#666666` background fails _Web Content Accessibility Guidelines contrast ratio_ see http://leaverou.github.io/contrast-ratio/#%23666666-on-%23262626

[2017-01-11 10:25] muesliq commented on #64
You are right @orangemug.

I updated the mockup, also with some color changes and checkboxes added.

![maputnik3](https://cloud.githubusercontent.com/assets/1606618/21844692/e5d75286-d7ef-11e6-8193-575165b9ea5e.png)

### Colors:

- White:
Section title font
Active layer font
Button font + stroke 1px
Input field font
Selected checkbox button font
Active input field background
- 666666
All other fon

[2017-01-11 10:48] muesliq commented on #64
Alternative "Add filter" styling:

![screen shot 2017-01-11 at 11 47 20](https://cloud.githubusercontent.com/assets/1606618/21845665/ca9f3d4a-d7f3-11e6-83ca-ac2359c3d057.png)

[2017-01-11 13:15] lukasmartinelli commented on #64
Migrated all inline-styles to CSS (larger effort than i thought - but also helped to clean up).

I already implemented some of the suggestions.
**Styles can now be directly tweaked at https://github.com/maputnik/editor/tree/master/src/styles**

[2017-01-11 13:15] #65 closed

[2017-01-11 13:18] lukasmartinelli commented on #66
Very good idea for grouping by the prefix!!!!

I also have problems working with 100 layers style to still find my styles.
I would like that feature as well - not much time left to do all these cool features but we'll see.

The only implementation issue might be that it makes drag and drop harder.

[2017-01-11 13:19] lukasmartinelli commented on #64
The colors all depend on the variables in https://github.com/maputnik/editor/blob/master/src/styles/index.scss.
So there is one place to tweak colors.

[2017-01-11 13:21] muesliq commented on #64
One more thing: With a section header "Layers" in the first sidebar the "Add Layer" button can be moved from the page header to the sidebar. (I find the original position a little bit odd.)

![screen shot 2017-01-11 at 14 01 40](https://cloud.githubusercontent.com/assets/1606618/21850097/456c0f16-d809-11e6-877b-1b436a5e0ac6.png)

[2017-01-11 13:24] lukasmartinelli commented on #64
Yes sidebar is more suitable!!
Feedback on modals and the menu is welcome as well.

Sources icon is not ideal  but the name "Sources" indicates the right thing I think.
Download will probably in the future change to "Export" to open a modal.

[2017-01-11 13:24] lukasmartinelli opened #67 "Add Layer In Sidebar"
See original comment #64

[2017-01-11 13:25] lukasmartinelli commented on #66
Note to myself: I can probably reuse the collapse components to make this very straightforward.

[2017-01-11 13:28] muesliq commented on #64
I thought about the menu and the modals and found only two more (minor) issues:

1. The "Inspect" Button is actually an on/off button, so it should visibly change state. Either by conveying on/off (colors?) or by switching the wording (Inspect mode / Map mode or X-Ray view / Map view).
2. In the "Sources" modal I find "Choose public sources" more important than "Add new source". Would move it up.

[2017-01-11 13:30] muesliq commented on #66
By the way, this feature would incentivise proper layer naming :-)

[2017-01-11 15:36] lukasmartinelli commented on #64
![screenshot from 2017-01-11 16-33-47](https://cloud.githubusercontent.com/assets/1288339/21854676/e792f3ba-d81b-11e6-9503-f04416daca29.png)

- [ ] Try out how Lucida Sans looks

[2017-01-11 15:36] #67 closed

[2017-01-11 18:58] lukasmartinelli commented on #66
Works now! It's quite a hack implementation wise because otherwise drag and drop get's broken.
But for using it is it works ok (hope it doesn't confuse users though).

Especially the group reordering can be confusing at first.
Because when you move a layer out of a prefix group or into it it will form a new group.
Still think we should keep it though.

Thanks for pushing me - wouldn't have impleme

[2017-01-11 19:22] lukasmartinelli commented on #64
@muesliq After some Google searches I don't think that's a free font..

[2017-01-11 19:52] lukasmartinelli opened #68 "Improve Property Groups"
This is a good task for a first commit of external contributors.

The properties in Maputnik are grouped together in the editor.
These groups are defined in `src/config/layout.json` https://github.com/maputnik/editor/blob/master/src/config/layout.json and can be tweaked very easily.

- [ ] Look at existing groups
- [ ] Think about how to best group Mapbox GL properties together so it makes sense c

[2017-01-11 19:56] lukasmartinelli opened #69 "Interest in Using Maputnik React Components"
@jj0hns0n @milafrerichs Can we discuss in this issue whether you still want to pursue to use Maputnik React components. Perhaps we can define here what components you are interested in.

We could also split them into a separate project. The dependencies of the components are now much less (no longer any use of Immutable JS).

Perhaps @milafrerichs can sum up his thoughts here what it takes to make

[2017-01-11 20:54] muesliq commented on #64
Lucida Sans Unicode is a "web safe font", so you don't need to embed it or worry about licensing, you just reference it. Like, you know, in the old days ;-)

[2017-01-12 13:07] lukasmartinelli opened #70 "Cannot Change Value for Boolean Values in Zoom Level Functions"
![screenshot from 2017-01-12 14-07-07](https://cloud.githubusercontent.com/assets/1288339/21890922/6d3e3524-d8d0-11e6-9058-76a9f35e4eaf.png)

[2017-01-12 13:35] muesliq opened #72 "Properties missing"
I noticed that at least the following properties are missing in https://github.com/maputnik/editor/blob/master/src/config/layout.json

- text-opacity
- icon-opacity
- icon-color
- icon-halo-*
- icon-translate-*

[2017-01-12 13:36] muesliq commented on #68
I gave it a shot: https://github.com/maputnik/editor/pull/71
The idea was to match the Mapbox GL Style Spec structure and wording as close as possible.

Note also #72. (I didn't add them as I'm guessing this would break things, yet I reserved an empty property group for them.)

[2017-01-12 15:01] muesliq commented on #68
One more example to illustrate my approach: Now there's the "Color" field in the "Basic" group within a symbol layer. It is unclear what the color is for. Icons? It's mentioned nowhere that that's just the text color.

In my approach the field "Color" would appear in a group named "Text paint properties". Now it's clear that is is for text. (Furthermore the user would understand that he could get

[2017-01-12 15:37] muesliq opened #73 "How to deal with unused fields / default values?"
A usability disadvantage of visual editors of this kind is that all fields must be shown, regardless if they are in use or not. Take this extreme example - this minimal layer definition..

![screen shot 2017-01-12 at 14 55 10](https://cloud.githubusercontent.com/assets/1606618/21892622/02db8846-d8d8-11e6-95e1-9eab2d67b4c2.png)

is currently being displayed like this:

![screen shot 2017-01-12 at 1

[2017-01-12 15:39] #66 closed

[2017-01-12 15:54] muesliq commented on #66
I would close folders by default, otherwise the benefit is limited.

[2017-01-12 16:00] muesliq commented on #47
I checked, the editor above uses [Ace](https://ace.c9.io/) for syntax highlighting, line numbering and error handling. Should be easy to integrate it into Maputnik.

[2017-01-12 16:17] lukasmartinelli commented on #73
That's an idea that is technically possible. It collides with the feature that once you've collapsed a section it stays open for other layers as well but that could be solved.

In general if there are more smaller sections this becomes more useful.
:+1:

This is only viable if you use the JSON Editor. I am not sure if everyone is as comfortable with the spec as we are.

I have the gut feeling that

[2017-01-12 16:32] lukasmartinelli commented on #68
The names are extracted from the property name. Perhaps allowing the naming to be configured could help?

I am very fond of this!

No let's add this! Shouldn't break anything.

I guess this is the drawback as using the same ordering as the spec - but I think the groups are now too large for finding things. Especially in the symbol layer.

![screenshot from 2017-01-12 17-31-20](https://cloud.github

[2017-01-12 16:35] muesliq commented on #73
Of course this would only make sense with some kind of control to add the fields needed. In fact we already have such a function: The "Enable zoom functions control". It adds fields not needed previously.

Anyway, imagine the following scenario for B.:

A section just contains the used fields. Below those fields there is a big, centered Dropdown. It contains all names of unused fields for that sec

[2017-01-12 16:36] muesliq commented on #68
#73 would fix the "too large" problem ;-)
Sorry btw for the quotes error. I used the wrong text editor..

[2017-01-12 16:38] muesliq commented on #72
Fixing this.

[2017-01-12 16:40] lukasmartinelli opened #74 "Roadmap v1.0 and After"
This is the roadmap issue. I want to make a v1.0 now and then probably announce it Saturday/Sunday or Monday.
I've used up all the funded work time (and a lot more personal time) as of right now but it has been a blast and I am really proud how it turned out and thankful for the help @muesliq!! I hope this is a tool others can use as well - I am dogfooding it for weeks now and it works very well f

[2017-01-12 16:45] lukasmartinelli commented on #73
True - but then you need to know what kind of property of the spec you need?
I also liked the exploratory nature of it when starting out - choose a feature and layer type and change all the values to learn what the properties can do.

I want to continue discuss/improve this. But I guess this won't make it into v1.0 but afterwards a v1.1 or so.

[2017-01-12 16:45] #72 closed

[2017-01-12 16:51] lukasmartinelli opened #75 "Documentation for v1.0"
Documentation will happen in the Wiki. https://github.com/maputnik/editor/wiki

I have some videos I want to organize the docs around and write complimentary articles.

- Install Maputnik locally
- Use the online version of Maputnik
- The basic tutorial - design a map from scratch https://www.youtube.com/watch?v=XoDh0gEnBQo
- Style GeoJSON files  https://www.youtube.com/watch?v=hzJ-CPVykDE&t=78s
-

[2017-01-12 17:16] muesliq opened #77 "Minzoom and Maxzoom missing (Layer properties)"

[2017-01-12 17:25] muesliq commented on #77
PS: I went through the Spec. These should be the last ones missing.

[2017-01-13 13:38] lukasmartinelli opened #79 "Replace Access Token"
The URLs can contain a `key` and it is interpolated by a key specified in the settings.

@jirik will implement the functionality to specify a access key for OpenMapTiles when exporting to GIST.

[2017-01-13 13:39] lukasmartinelli opened #80 "Default Access Token for Mapbox and OpenMapTiles"
Maputnik can have a access token baked in for Mapbox and OpenMapTiles that is used by default.
As soon as you specify your own key in the settings this will take over.

[2017-01-13 16:01] #80 closed

[2017-01-13 16:06] lukasmartinelli commented on #69
Also makes sense to collaborate with Boundless on this @qscripter

[2017-01-13 17:36] ImreSamu opened #82 "[wish] inspect mode - link to OpenStreetMap.org same area"
Thank you for working on this!

[not critical]
Sometimes  I want to check the original OpenStreetMap data and now this is not so easy ( as I know )

my current workflow ..
* find an interesting object  and ask myself :  What is this? No  osm_id, so How I find  the real osm_id ?
http://maputnik.com/editor/#11.81/41.3611/-105.7342
* So I copy the coordinate `11.81/41.3611/-105.7342`  from the  URL
*

[2017-01-13 18:00] lukasmartinelli commented on #82
You're feedback is very welcome Imre. Also if you have inputs to other parts of the editor.

You know what - that could actually be a cool additional Mapbox GL plugin we can just include and show as map control (like https://github.com/lukasmartinelli/mapbox-gl-inspect).

But perhaps we are replicating - doesn't Mapbox already solve this as well (for giving feedback - not going to the data layer).

[2017-01-13 21:30] #79 closed

[2017-01-14 14:22] ImreSamu commented on #82
anything that helps debugging vectortiles is  Welcome!

it would be perfect   :)

[2017-01-14 15:43] stirringhalo commented on #82
Either would be awesome, I've had to go back and forth many times to figure out why something is rendering as it is...

Another option is generating direct Overpass queries and returning those...

[2017-01-14 16:55] ImreSamu opened #83 "info - OSM QA TILES - support ( extreme use case )"
Mapbox QA tiles is very special, because
* it is  for QA and not for rendering
* and `minzoom: 12` and `maxzoom: 12`

see more:
* https://www.mapbox.com/blog/osm-qa-tiles/
* http://osmlab.github.io/osm-qa-tiles/

My question:
* Anybody tried designing - the QA tiles  with maputnik ?

### my workflow
I can create a TileJSON service via `tileserver-gl` `http://localhost:8080/data/01142017052801.plan

[2017-01-14 17:02] ImreSamu commented on #83
# Filter

![image](https://cloud.githubusercontent.com/assets/2217320/21956505/d6b1baea-da82-11e6-924f-b1cb4078c480.png)

* I have tried to create a filter for `@Version`
    *    and I got `Layers[1].filter[1][1]: filter key cannot be a constant`
* other variables.  without a `@`  -  probably ok , no error ..

Theory:   Probably don't like the  '@xxxxxx'  variables ??

[2017-01-14 17:08] ImreSamu commented on #83
# Filter

QA tiles has probably more than 500 variables ..
* and not abc ordered in the list  ..
so It is very hard to choose  or find a name
![image](https://cloud.githubusercontent.com/assets/2217320/21956567/479fed84-da84-11e6-9909-46730c137b85.png)

[2017-01-14 17:36] ImreSamu opened #84 "Filter - "has" operator must have 2 elements"
As I see  in the [filter specification](https://www.mapbox.com/mapbox-gl-style-spec/#types-filter) the  "has"  operator needs only 1 parameter
[code]

But when I choose  I got an error :
[code]

[2017-01-14 18:13] ImreSamu commented on #83
The `@`  filtering ( `filter key cannot be a constant`) is a known style-spec validator problem : https://github.com/mapbox/mapbox-gl-style-spec/issues/654

[2017-01-15 09:18] lukasmartinelli commented on #83
You can start from a new empty style.

It's an interesting use case - but I don't think that this is something we need to support.
QA Tiles vector tile schema is really not meant for this.

Good to have this documented here :+1:

[2017-01-15 09:18] lukasmartinelli opened #85 "Add XYZ tile source does not save the input"

[2017-01-15 09:37] #85 closed

[2017-01-15 09:43] #84 closed

[2017-01-15 09:49] lukasmartinelli commented on #63
This is actually quite annoying - you don't get feedback in the editor because it is treated as text not number. Should be fixed.

[2017-01-15 11:54] ImreSamu commented on #83
thanks!
it was new info for me.
![image](https://cloud.githubusercontent.com/assets/2217320/21962186/f92cb69a-db1f-11e6-98cd-e8a1f1653166.png)

imho:
*  If we have more than 20  styles it is not so easy to find  ...

[2017-01-15 12:39] #63 closed

[2017-01-15 12:47] #77 closed

[2017-01-15 12:47] #74 closed

[2017-01-15 12:47] #75 closed

[2017-01-15 12:49] lukasmartinelli commented on #83
Looking forward to the problem of 20 styles :grinning:
But should perhaps be the second/third option. Even though for most use cases you never want to start empty.

[2017-01-15 12:49] #83 closed

[2017-01-15 16:15] lukasmartinelli commented on #73
I implemented a version of your proposal C (lowest hanging fruit).
There is a bit a drawback with the opacity styling that when you focus on the field now it will only be highlighted when it is no longer the default value.

![screenshot from 2017-01-15 17-09-55](https://cloud.githubusercontent.com/assets/1288339/21964075/a594fa1c-db45-11e6-8a88-edf5ee575bae.png)

[2017-01-17 12:57] rroset opened #87 "Display zoomlevel next to attribution"
It would be useful to have the current zoomlevel displayed nexto to attribution so that one could see what ZL the current view belongs to.
It would help when dealing with ramps and finetuning the entry and exit ZL for certain layers
Could be something like
ZL: xx.x

[2017-01-17 13:48] lukasmartinelli commented on #87
Absolutely. Always looked at the URL hash now but that would be a good additional control.

[2017-01-18 11:17] snodnipper opened #88 "CORS issues"
Using the CLI (maputnik_darwin / v1.0.1) we get CORS issues using OpenMapTiles.  Mapbox Streets works fine.
![screen shot 2017-01-18 at 11 14 03](https://cloud.githubusercontent.com/assets/576719/22061954/3ce0f3d2-dd6f-11e6-841b-edfbfa373d9f.png)

[2017-01-18 11:37] klokan commented on #88
The free.tilehosting.com server has CORS set correctly to "access-control-allow-origin:*", but the server redirects, because your key is invalid.

You you have your own access key?
You can generate one for free at https://openmaptiles.com/hosting/ and set it up in the Maputnik Settings, the same way you set the Mapbox keys.

[2017-01-18 12:05] lukasmartinelli commented on #88
Ah the access token in the "Add Source" of OpenMapTiles is obsolete..

[2017-01-18 12:07] snodnipper commented on #88
Sure, so I got that done correctly.  I also noted the "OpenMapTilesAccessToken" under style settings.  Perhaps being able to set arbitrary parameters for a source would be nice (e.g. clicking a source and setting 'key', 'token' etc. that will be sent per request).

<img width="678" alt="screen shot 2017-01-18 at 12 03 34" src="https://cloud.githubusercontent.com/assets/576719/22063346/374bb3b0-dd7

[2017-01-18 12:11] lukasmartinelli commented on #88
You are right but in the end you can always change the source URL. Which you will also do if you host your own tiles somewhere. Having configurable query string params would probably be too much.

I know the token for OpenMapTiles is handled a bit special - same goes for Mapbox Streets.
All other sources (like Mapzen) need to have the access key or any other url params in the source TileJSON/XYZ u

[2017-01-19 11:19] pyrog opened #89 "Can't add layer under Safari"
Tested on Safari Version 10.0.2 (12602.3.12.0.1) under macOS Sierra 10.12.2 (16C67)
Work fine on Chrome and Firefox.

See #37

[2017-01-21 21:55] flp-gpc opened #90 "Show Tooltip only on Click in Map Mode"
Would it be possible to add an option to switch the tooltip off from the map ? It slows down the display and zooming, and it is often annoying when we look at the map. Once you know your map's properties, this tooltip is not really useful anymore in my opinion.

[2017-01-21 22:10] lukasmartinelli commented on #90
I think I should switch back to the click model of before. Only show the tooltip when you actually click while in map mode - not on hover.

[2017-01-21 23:05] flp-gpc commented on #90
Or another option could be to keep the on hover feature only in inspect mode, where it has more sense.

[2017-01-22 20:17] lukasmartinelli commented on #90
My Mapbox GL Inspect plugin now supports it https://github.com/lukasmartinelli/mapbox-gl-inspect/commit/e26c255cba7ee1e8861ff8000ee5bea75a59ef9a and it is integrated in maputnik with 2458d4b

[2017-01-22 20:17] #90 closed

[2017-01-22 20:19] lukasmartinelli commented on #89
Since Maputnik uses some fairly recent HTML features I do know that Safari does have problems with it. I cannot however test it with Safari on Linux - therefore it is likely that I won't be fixing it soon but I'll leave it open.

[2017-01-23 08:34] lukasmartinelli commented on #88
Default style now contains access token https://github.com/maputnik/editor/commit/e4850805fbfbfafd15808b11fab468444aaf44f1

[2017-01-23 08:34] #88 closed

[2017-01-23 08:36] lukasmartinelli commented on #70
This works now. Seems to have been fixed by @jirik
![screenshot from 2017-01-23 09-36-02](https://cloud.githubusercontent.com/assets/1288339/22196826/6ccb6526-e14f-11e6-9f52-003c9b66ab62.png)

[2017-01-23 08:36] #70 closed

[2017-01-23 08:36] #73 closed

[2017-01-23 08:37] lukasmartinelli commented on #3
@jirik completed this in https://github.com/maputnik/editor/pull/86

[2017-01-23 08:37] #3 closed

[2017-01-23 08:39] lukasmartinelli commented on #50
I think the discussion is really interesting - hence I'll keep it open.
However I don't think that I will provide a solution for this any time soon - since this is one of the more advanced features - while it is probably better to work on the lower hanging fruits that can still be improved.

[2017-01-23 08:40] lukasmartinelli commented on #68
I guess https://github.com/maputnik/editor/pull/71 makes a good effort out of this. Refactoring is always welcome by future users looking at it.

[2017-01-23 08:40] #68 closed

[2017-01-23 08:55] klokan commented on #3
Only the anonymous gist is implemented.

The main target on this ticket was saving edits into a repository like https://github.com/openmaptiles/osm-bright-gl-style

[2017-01-24 16:20] muesliq opened #91 "Global search and replace"
If you want to replace, say, a color code or a font with another, this is really tedious in Maputnik, while easy in any text editor. I believe this is one of the last essential features that is still missing.

ACE has a built in search & replace function that maybe could be used out of the box.  See also #47.

[2017-01-25 10:54] lukasmartinelli opened #92 "Improve Opacity of Default Values"
The implementation of proposal C in #73 is not quite complete. This is mostly a CSS issue - by targeting the global opacity of the default property it leads to weird artifacts.
![screenshot from 2017-01-25 11-53-40](https://cloud.githubusercontent.com/assets/1288339/22287909/fbb5bc04-e2f4-11e6-843a-1d6fd0ca773d.png)

[2017-01-25 12:34] lukasmartinelli commented on #66
It is now collapsed by default e5fbe3b

[2017-01-25 12:35] #62 closed

[2017-01-25 12:35] #92 closed

[2017-01-29 12:14] Fil opened #94 "projection"
Is there a way to use another projection? It would be fantastic to be able to integrate any [d3-geo-projection](https://github.com/d3/d3-geo-projection) as an option.

(With vector tiles we can be free from the tyranny of WebMercator!)

[2017-02-02 13:29] muesliq opened #95 "Inspect Mode doesn't work after style change"
Steps to reproduce bug:

1. Load Maputnik with Mapbox based style
1. Click "Open" and select Openmaptiles based style
1. Click "Inspect Mode"

Console error message:
`Error: layers: source "mapbox" not found `

(On a side note maybe the other menu buttons should be greyed out when in Inspect Mode.)

[2017-02-02 20:24] chriswhong opened #96 "Is it possible to do data-driven styling?"
Maputnik is awesome, it perfectly fits our use case here at the NYC Department of City Planning where we are consuming MVTs from a self-hosted carto instance, but do not have an editor!

Is is possible to do data-driven styles?  I am only seeing the option to pick a single color for a given layer.  Thanks, and thanks for making this tool!

[2017-02-03 14:39] muesliq commented on #96
To my knowledge it is not, yet you can always edit a layer's JSON by hand, adding those missing features by hand.

[2017-02-03 14:42] chriswhong commented on #96
Thanks!

On Fri, Feb 3, 2017 at 9:39 AM, Helge Fahrnberger <notifications@github.com>
wrote:

[2017-02-06 23:57] jonahadkins opened #97 "layer list cutoff / prevents scrolling further"
using `maputnik_darwin 1.01` in a chrome browser - i have a long layer list and the location of the add layer dialog cuts off the dropdown at my the edge of my browser window - in the screen-cap below, there are several entries after the last entry shown...sorry if this has been addressed or brought up already .

![maputnik_bug](https://cloud.githubusercontent.com/assets/5178200/22671084/70ea04c2-

[2017-02-09 01:18] jonahadkins opened #98 "inconsistent label offsets"
using `maputnik_darwin 1.01` in a chrome browser - i'm experiencing some inconsistent label offsets - setting 3.5 (pictured below) different distances depending on the point ...sorry if this has been addressed or brought up already .
![screen shot 2017-02-08 at 8 11 36 pm](https://cloud.githubusercontent.com/assets/5178200/22764862/39b116c4-ee3b-11e6-881f-5ca471485c83.png)

[2017-02-09 06:12] lukasmartinelli commented on #98
I guess this is normal Mapbox GL behavior.
Not sure if it is in the spec for the offset field.

On Feb 9, 2017 8:18 AM, "Jonah Adkins" <notifications@github.com> wrote:

using maputnik_darwin 1.01 in a chrome browser - i'm experiencing some
inconsistent label offsets - setting 3.5 (pictured below) different
distances depending on the point ...sorry if this has been addressed or
brought up already

[2017-02-09 12:32] jonahadkins commented on #98
ah, you are correct - it appears i had `text-anchor` set to `center` - changing that to `left` produced the desired results.

thank you v. much! 👍 👏 💯

[2017-02-09 12:32] #98 closed

[2017-02-28 03:46] ARolek opened #99 "SetCenter() SetZoom()?"
I'm using Maputnik for some debugging and it would be helpful to be able to move the map to a specific center and zoom. Though it would be nice to have this as a feature, I'm also fine accessing the map instance from the debug console. Is there an easy way to get a reference to the map instance?

[2017-02-28 15:36] lukasmartinelli commented on #99
You can specify lat/lon and zoom in the URL afaik. If you move around in the editor you will see as it updates the location.
Does that help?

[2017-02-28 16:49] ARolek commented on #99
That works great. Thanks.

[2017-02-28 16:49] #99 closed

[2017-03-07 06:32] Tom-Cuthill opened #100 "Windows version - multiple issues"
Hi,

I'm new to Maputnik, but I've run into a problem which has me stuck, pretty well straight away.  I installed the local windows version, and then added a openmaptiles source, using https://free.tilehosting.com/data/v3.json?key=my own key.  Then I added a local source, which can supply mapbox vector tiles for a cadastral layer from geoserver.

I then added the layer matching the cadastral layer

[2017-03-07 09:18] pathmapper commented on #100
Hi, I am using the web version of Maputnik without any problems with my own vector tiles served using http. What is exactly your problem with the web version?

[2017-03-07 10:57] orangemug commented on #89
I believe the issue was simply that the modal isn't breaking out of the `overflow: hidden;` on the `.maputnik-layer-list` in safari. Removing it doesn't seem to cause any issues, although I'm not 100% sure about this. See https://github.com/maputnik/editor/compare/master...orangemug:fix/issue-89 for the fix.

@pyrog would you like to test the fix?

[2017-03-07 12:35] orangemug commented on #28
I thought'd I'd give this one a go. The diff is here https://github.com/maputnik/editor/compare/master...orangemug:feature/layer-comments

It looks like this

<img width="344" alt="field" src="https://cloud.githubusercontent.com/assets/235915/23656576/2dfc84ba-0332-11e7-9e0c-6849df4c64b4.png">
<img width="343" alt="json" src="https://cloud.githubusercontent.com/assets/235915/23656577/2fdc60ca-0332

[2017-03-07 12:47] orangemug commented on #91
How about creating a separate view which displays the entire JSON of the map style in a codemirror editor. Implementing search and replace in that view should be a lot simpler.

[2017-03-07 13:36] pyrog commented on #89
@orangemug the maputnik-modal div is not visible 😞

[2017-03-07 13:44] orangemug commented on #89
@pyrog did you try it on my branch? You'll have to clone the repo and run it locally (sorry should have mentioned that earlier)

[2017-03-07 13:56] pyrog commented on #89
No

OK. How to run it ? (I don't see any index.html page)

[2017-03-07 14:39] chriswhong opened #103 "Add option for object literal style output instead of JSON style output"
Maputnik is awesome, thanks for everyone's hard work.

I am finding myself having to spend a lot of time cleaning up the style text when I copy and paste it into my codebase because I am not storing it as JSON, but rather as an object literal.  To avoid linting errors in javascript, I need to remove all of the double quotes from the keys, etc.

I propose adding the ability to toggle the output sty

[2017-03-07 14:52] lukasmartinelli commented on #100
Windows is exactly the platform I cannot test myself.
It seems like one vendor file is not bundled up with the Windows EXE.

Would be curious whether the problems still persist with the web version.
There is no information shared with anyone - everything is statically hosted on GitHub.

So the local version also supports updating a local style JSON file https://github.com/maputnik/editor/wiki/Mapu

[2017-03-07 15:05] lukasmartinelli commented on #103
Isn't a JSON literal semantically the same as a object literal? But then the linter complains.

For me that's a feature too much. However you can work around this with your own tools.

1. Copy the object
2. Past it into the dev console and assign to a variable
3. JSON.stringify that variable
4. Replace the quotes `JSON.stringify(obj, null, ' ').replace(/\"([^(\")"]+)\":/g,"$1:")`
5. Copy the clean

[2017-03-07 15:08] lukasmartinelli commented on #91
Perhaps Maputnik should have been just a very good JSON editor..

[2017-03-07 15:11] lukasmartinelli commented on #28
Hey you totally get the code!! Good stuff. This is a great entry level feature and looks good.
I like that you actually implement 👍

I don't need this feature. It is up to you and @muesliq whether you want to merge that.
It seems definitely useful if one ever wants to generate docs out of a style spec.
I gave you write access to the repo.

[2017-03-07 15:12] #44 closed

[2017-03-07 15:19] orangemug commented on #91
Well I really like the interface. So thinking about it some more maybe search and replace is the wrong way around to think about this problem. Maybe instead variables would make more sense, something like `$base-color` thoughts?

[2017-03-07 15:24] orangemug commented on #28
@muesliq is this what you had in mind? Is there anything wrong/missing?

[2017-03-07 15:28] orangemug commented on #41
I can't reproduce the issue... have you fixed this already?

[2017-03-07 15:32] orangemug commented on #103
@chriswhong also you can get most linters to ignore certain files or blocks of code. See http://stackoverflow.com/questions/12977661/is-there-a-way-to-suppress-jshint-warning-for-one-given-line

[2017-03-07 15:39] orangemug commented on #53
Collapsing the JSON panel by default might help make it a little more friendly also.

[2017-03-07 16:03] lukasmartinelli commented on #41
I don't remember haha. Could be that I explicitly filter out what is currently in inspect mode.
Inspect mode is quite a hack to be honest.

If it doesn't occur anymore we can close it.

[2017-03-08 07:08] Tom-Cuthill commented on #100
I've used the web version and while I no longer see any errors about using http to get the tiles, the tiles still do not render.  Here are all the steps I followed exactly.  First I created the new source, which is a mapbox vector tile source:

![image](https://cloud.githubusercontent.com/assets/24502866/23693548/db65c4da-040f-11e7-9a39-0f3fe583cbbf.png)

Then I added in the cadastral layer using

[2017-03-08 18:27] orangemug commented on #94
It doesn't look like it's possible in [mapbox/mapbox-gl-js](https://github.com/mapbox/mapbox-gl-js) see https://github.com/mapbox/mapbox-gl-js/issues/3184. I'm not sure about OpenLayers though...

[2017-03-08 18:35] orangemug commented on #89
Hey @pyrog if you're interested in working out how to run/test it, take a look at the [README.md](https://github.com/maputnik/editor#develop).

Glad to see removing `overflow: hidden;` fixed it for you. I just need to double check it doesn't break anything else, then I'll raise a PR so we can get this released.

[2017-03-08 18:41] orangemug commented on #47
It looks like codemirror can do this also http://codemirror.net/demo/lint.html. If we're all fine with adding a line number gutter in the json editor I'll probably have time this week.

[2017-03-09 21:34] orangemug commented on #54
There is a working fix on this branch https://github.com/maputnik/editor/compare/master...orangemug:fix/issue-54. I still need to work on the styling a little, then I'll raise a PR.

[2017-03-10 14:45] orangemug commented on #96
This is a feature I'd also be interested in. Out of interest has anybody thought about what the UI might look like for this?

[2017-03-12 14:59] VoyteckPL opened #106 "Can't add external Geojson"
Here's my Geojson File.
http://mapaszlakow.eu/szlaki.geojson
when I add it as geojson source nothing happends. I tested it on geojson.io and it works fine.
Thanks in advance!

[2017-03-13 01:08] Tom-Cuthill commented on #100
Are the cadastral tiles not displaying possibly because the gridset is EPSG:900913?  Would a geojson source work better than using mapbox compressed binary files?

We have a project starting up next week and we were really hoping to use Maputnik for our styling.  Any ideas would be greatly appreciated!

Cheers,
Tom

[2017-03-13 02:38] lukasmartinelli commented on #100
You should try to get it working with plain Mapbox GL JS like https://www.mapbox.com/mapbox-gl-js/example/vector-source/ and then go from there.
If that works it will work in Maputnik as well.

The error message looks like the tileserver is returning something fishy.

[2017-03-13 09:29] Tom-Cuthill commented on #100
I followed your advice and I'm seeing the same behaviour in Mapbox GL JS.  I understand what is going on.  Geoserver serves tiles in TMS, where the tiles start counting from the bottom left corner like a mathematician would.  Google/OSM/Mapbox counts tiles starting from the top left (see https://alastaira.wordpress.com/2011/07/06/converting-tms-tile-coordinates-to-googlebingosm-tile-coordinates/).

[2017-03-14 00:41] Tom-Cuthill commented on #100
Only two lines of javascript would be needed to support the TMS standard, as it is done in Open Layers.  If the template for the y parameter has a 'minus' sign, then do the following:

var ymax - 1 << zoom;
var y = ymax - y - 1;

[2017-03-15 14:19] muesliq commented on #28
Great @orangemug!! Exactly like I thought. I'll merge it into master.

[2017-03-15 14:19] #28 closed

[2017-03-15 14:22] #47 closed

[2017-03-15 14:38] muesliq commented on #96
Probably similar to the stop functions which look like this:
![screen shot 2017-03-15 at 15 26 22](https://cloud.githubusercontent.com/assets/1606618/23953050/c64fe4ca-0993-11e7-885f-053c51d26036.png)

Just that
- A field "property" above the stop lines would be needed
- The "stops" fields wouldn't be numbers only

So it would look something like this:

[code]

What makes things really complicated

[2017-03-15 15:41] muesliq commented on #91
I like the idea of a JSON tab @orangemug.

[2017-03-19 15:16] phiphou opened #108 "Add support for Mapox GL v0.33.x"
Trying to do this in Maputnik :

[code]
It doesnt' work because Maputnik currently use MapboxGL v 0.31.0, and [text-color data-driven styling is supported with >= 0.33.0](https://www.mapbox.com/mapbox-gl-js/style-spec/#paint-text-color).

Please update your MapboxGL ;)

[2017-03-19 20:31] #108 closed

[2017-03-21 11:34] muesliq opened #109 "Option to add layer via JSON copy & paste"
Many use cases include copying a layer from one stylesheet to another. The current dialogue doesn't make that easy:

![screen shot 2017-03-21 at 11 57 05](https://cloud.githubusercontent.com/assets/1606618/24145474/8adb79b6-0e31-11e7-84ca-d17986ff0bb6.png)

It would be great to have an option there to add a whole JSON chunk.

[2017-03-21 12:22] orangemug commented on #109
From my perspective, it would be great to find out a little more about the use cases for this, for a bit of context and to make sure we're solving the right problem.

My initial thoughts are that maybe we should just remove the modal entirely and just land the user in the 'Layer panel' with an 'Untitled Layer' because from there they can edit any of those properties and also have access to the 'JS

[2017-03-21 12:34] muesliq commented on #109
Use case: You have a layer in Stylesheet A and want to copy it to Stylesheet B. You can easily do that in any text editor but not in Maputnik. (Unless a JSON tab exists as you have proposed somewhere else I think.)

Layers look very different depending on their type, that's what makes the modal useful. How would the layout of an "Untitled layer" look?

[2017-03-21 13:08] orangemug commented on #109
The _type_ would default to `none` with all other fields hidden (except JSON editor). Then you can modify the _type_ field to get started with your new layer. At this point it would also be valid to just paste a JSON blob into the 'JSON editor'.

Note that

 - The blank layer doesn't appear in the layer list until the type is set
 - The id field would be hidden until the type is set, and defaults

[2017-03-21 13:42] lukasmartinelli commented on #109
Sorry to always be the boring voice here. But that's again a feature which is too specific imho.

If we have a plain JSON representation/editor of the stylesheet directly in the editor that would solve this use case as well.

I for my part solved this issue by just editing a local style JSON (the Maputnik CLI and propagate the change back).

[2017-03-21 13:50] orangemug commented on #109
Hey @lukasmartinelli, I feel like removing the model actually makes things simpler all round. You basically jump straight into the edit view, so get all the features you'd expect right away (including the JSON editor), rather than hiding them behind a modal.

[2017-03-21 13:54] muesliq commented on #109
Wouldn't `"type":"none"` break the GL spec, @orangemug? So far everything Maputnik does conforms to the spec.

[2017-03-21 13:57] phiphou commented on #108
I doesn't work.

I've succeed in making it work by updating node_modules/mapbox-gl-style-spec/reference/v8.js with the latest https://github.com/mapbox/mapbox-gl-js/blob/master/src/style-spec/reference/v8.json . mapbox-gl-style-spec repo has recently been merged with mapbox-gl-js one.

[2017-03-21 14:15] orangemug commented on #109
@muesliq apologies that was unclear. `none` is just a place holder really, until the type is set to something else other than `none` it won't appear in any saved output.

Anyway I think you make a good point, looking at the spec `id` is the only thing required. So it becomes even easier, we create a layer called `untitled_{NUM}` with a unset type when we press 'Add Layer'. Then we display the edit

[2017-03-21 16:53] muesliq commented on #109
Ok, that sounds great then. All up for it.

[2017-03-21 17:29] phiphou opened #110 "Handle mapbox-gl-style-spec recently merged into mapbox-gl-js' repo"
[mapbox-gl-style-spec repo](https://github.com/mapbox/mapbox-gl-style-spec) has recently been merged with [mapbox-gl-js](https://github.com/mapbox/mapbox-gl-js)'s one. The last update of the style-specs are in this repo, so #108 still not working.

Hope my explanations are clear and will make you find a way to correct this ;)

[2017-03-21 17:48] SegFault0x0 opened #111 "Certain Layers Aren't Visible at Lower minZoom Levels"
No matter what value I set my minZoom level for certain layers, they still aren't visible until a higher level in the Maputnik editor.  "railway" is a perfect example of this:  I set my minZoom to level 8, but railway layers don't materialize until Level 11.  Level 11 would be fine for my map, but when I load it in tileserver-gl-light, it doesn't render there until level 14.

Another instance is w

[2017-03-21 18:20] lukasmartinelli commented on #110
Yeah we need to handle this big merge..

[2017-03-21 18:20] lukasmartinelli commented on #110
If someone else wants to jump on this welcome!!!

[2017-03-21 18:21] lukasmartinelli commented on #109
That's true. I never liked the modal. Go for it.

[2017-03-22 11:17] orangemug commented on #110
I have a working branch of this  https://github.com/maputnik/editor/compare/master...orangemug:fix/issue-110-update-mapbox-style-spec I still need to verify a few things before I raise a PR.

Note this still doesn't fix #108 because we'll need to make alterations to the ColorField component to make that work correctly.

[2017-03-22 15:08] lukasmartinelli commented on #110
![giphy](https://cloud.githubusercontent.com/assets/1288339/24204800/eb77c07c-0eef-11e7-9bf8-5a35a4d76418.gif)

[2017-03-23 19:34] SegFault0x0 commented on #106
Remove the semi-colon from the end of your JSON file.

[2017-03-24 17:44] SegFault0x0 commented on #111
I just discovered that this issue was previously handled by OpenMapTiles [#146](https://github.com/openmaptiles/openmaptiles/issues/146) (which is why it's visible at Zoom level 11 in Maputnik) and I can't see that change because I'm working off of an outdated (11/28/2016) mbtiles file.

[2017-03-24 17:44] #111 closed

[2017-03-28 04:19] nyurik opened #112 "Document best way to customize sources for custom build"
Hi, I would like to use this awesome tech as a module for [Kartotherian](https://github.com/kartotherian/kartotherian). What is the best way to customize the list of available data sources, so that users would get the localhost (configurable) data source, rather than the default? I obviously don't want to hack the SourcesModal.jsx

And a more generic question - what's the best way to integrate it

[2017-03-28 07:05] nyurik opened #113 ""Upload file" crashes if "glyphs" is not set"
Trying to upload a style file to Maputnik causes an error in the console and silently gets ignored. Adding "glyphs": "https://free.tilehosting.com/fonts/{fontstack}/{range}.pbf?key={key}", to the style file solves the issue.
[code]
File (I use it for the local installation): https://gist.githubusercontent.com/anonymous/b72a7d9cb286f92bef42477f1ce77c10/raw/39ad427812d10418e567622cb3ec9a27a61dc418/s

[2017-03-28 14:55] lukasmartinelli commented on #112
Take a look at `https://github.com/maputnik/editor/tree/master/src/config`. The data sources are available there.
You can also add new sources in a PR back to upstream if you feel this is valuable for everyone.

It would be possible to expose it as node module - however the entire code needs to be transpiled/built first.

You can also distribute the HTML bundle `public.zip` https://github.com/mapu

[2017-03-28 19:21] nyurik opened #114 "Support boolean types in UI"
While I can manually edit JSON's filter to `true` when dealing with boolean fields, the UI auto-converts `true` into `"true"`.  Either Maputnik needs to examine field's type in the schema declaration, or it should do the same thing as YAML - if "true" or "false" are entered without the quotes, treat it as boolean, whereas everything else is auto-string unless its a number. Also, anything entered w

[2017-03-28 23:31] nyurik opened #115 "Simplify layer creation with a "ctrl+click""
It would greatly simplify new layer design if it would be possible to add a new layer by simply clicking (e.g. with a modifier), or having a special button on the popup in the inspection mode. Also, it might make sense to show a certain icon/color indicator if the given layer is already added to the layer stack

[2017-03-28 23:34] nyurik opened #116 "Unable to enter zoom field"
if my first zoom is set to 2, it is not possible to enter a second zoom above 10, because typing 1 automatically treats it as an error (it is lower than 2), and resets it to 10. I think the field should not reset on error, but instead show a red border/background, and wait for the user to leave the field. Once left, then you can reset the value.  Also, invalid field should be excluded from automat

[2017-03-29 02:48] nyurik opened #117 "Uncaught TypeError: Cannot read property 'define' of undefined"
Created a layer, and then tried to override it fully with the different JSON - the entire map went blank. Pasting:
[code]

[code]

[code]

[2017-03-29 02:58] nyurik opened #118 "Tooltip Z order needs to be higher"
Tooltip of the last items right before the JSON show up behind the line numbers of the JSON blob.

[2017-03-29 03:30] #118 closed

[2017-03-29 03:51] nyurik opened #120 "Need an easy way to share styles"
Whenever I work with styles, I constantly need to share my style with others.  While it would be awesome to have git integration, pull requests, etc, available, the very basic usecase is to be able to send someone my work in progress, so that they can take a look at a specific issue / modify data source / recommend style change / file a bug with a permanent link to a style.

How can we make it so

[2017-03-30 07:39] pathmapper opened #121 "Future development of Maputnik"
Hi,

first of all, I want to say thank you very much to Lukas Martinelli and everybody else contributing to this amazing project!

As stated in the initial [kickstarter campaign](https://www.kickstarter.com/projects/174808720/maputnik-visual-map-editor-for-mapbox-gl?lang=en) :

I heard about that [Lukas Martinelli is working now for Mapbox](https://www.mapbox.com/about/team/lukas-martinelli/).

Co

[2017-03-30 13:14] jingsam commented on #121
I have the same concern.  Maybe transfer this repo to someone else

[2017-03-30 20:00] lukasmartinelli commented on #121
I really prefer the mission statement in the GitHub repo.

Apart from that it is simply a matter of lack time of maintaining this project without external help.

All the projects live under the https://github.com/maputnik/ organization not my personal account for a reason - I explicitly encourage other people to maintain this project and @orangemug and @muesliq have done a good start doing this.

[2017-03-30 20:04] lukasmartinelli commented on #120
I worked on the openmaptiles styles using the git mode. Encourage you to try it out https://github.com/maputnik/editor/wiki/Maputnik-CLI

You can already export a style to gist as implemented in https://github.com/maputnik/editor/pull/86!

[2017-03-30 23:03] nyurik commented on #120
Thanks, I didn't see the CLI option!  But the main use case remains--am easy way to share work in progress. I saw that export is available, but there is no easy "import" -- user has to download the gist to their machine, and upload it to the editor

[2017-03-30 23:20] lukasmartinelli commented on #120
You could append the URL to the gist to the `style` query param:

http://maputnik.com/editor/?style=https://rawgit.com/openmaptiles/dark-matter-gl-style/master/style.json#3.81/50.40/20.75

[2017-04-02 13:09] orangemug commented on #115
What if there are multiple features under the cursor?

Maybe it should work more like the chrome developer tools in inspection mode

 1. Click to enable inspection
 2. Hover to list features in an inspection pane
 3. Click to freeze the current selection in the inspection pane

Then from the inspection pane we can add an option to create a layer from a feature.

**NOTE:** This is from some new des

[2017-04-02 13:10] orangemug commented on #113
It looks like @lukasmartinelli has fixed this, closing the issue.

[2017-04-02 13:10] #113 closed

[2017-04-02 13:13] orangemug commented on #89
The fix for this has been merged, closing issue

[2017-04-02 13:13] #89 closed

[2017-04-02 13:18] orangemug commented on #106
It looks like @SegFault0x0 has mentioned the fix, closing the issue.

Note: Once issue #54 is merged you'll get some feedback on errors.

[2017-04-02 13:18] #106 closed

[2017-04-02 20:20] #54 closed

[2017-04-02 20:39] orangemug commented on #110
I'll do this in 2 parts updating to the new style spec initially. @lukasmartinelli can you merge https://github.com/lukasmartinelli/mapbox-gl-inspect/pull/6 so I can update the current branch and make a PR

[2017-04-02 22:27] lukasmartinelli commented on #110
Done!

[2017-04-03 14:40] orangemug opened #123 "Per branch builds"
I would like per branch (or per commit) builds to allow users not familiar with the command line node, npm etc... to be able to try out features and fixes before they get merged.

I suggest we switch CI environments to <http://circleci.com> because it can serve up build artifacts. This is similar to https://github.com/tmcw/docbox (see the demo docs https://67-53007065-gh.circle-artifacts.com/0/tmp

[2017-04-03 14:43] orangemug commented on #120
Hey @nyurik is there anything we still need to discuss or can we close the issue?

[2017-04-03 17:11] lukasmartinelli commented on #123
I think one could even be able to configure this in Travis.
I like CircleCI too. No opinions there.

BTW. I usually publish the files for new releases to https://github.com/maputnik/website so they are on the online version of Maputnik.

[2017-04-03 17:23] orangemug commented on #123
I looked to see if travis can serve up artifacts, but couldn't find that anywhere.

[2017-04-03 18:13] lukasmartinelli commented on #123
Oh you can. But you need a S3 bucket:

https://github.com/maputnik/desktop/blob/master/.travis.yml#L7-L10

[2017-04-04 06:28] ulimueller commented on #121
Hi Lukas

Thank you a lot for your phantastic work on Maputnik up to now and also for the estimation, you made above about the future of the project. I understand that you won't be able to invest much time for Maputnik, and that the project should become autonomous from your personal engagement. However I am still curious how you judge the future legal situation. Can we be confident that MapBox wi

[2017-04-04 08:12] orangemug commented on #103
This looks to be resolved, closing the issue.

[2017-04-04 08:12] #103 closed

[2017-04-04 08:17] orangemug commented on #100
Hey @Tom-Cuthill I'm a little confused of the status of this issue. Is this an issue with maputnik or mapbox-gl-js?

[2017-04-04 12:26] muesliq commented on #121
Hi @ulimueller,

Mapbox has a great track record when it comes to open source, both with software from staff they hired (eg. LeafletJS or OSRM) and with software they themselves opensourced. Also they cannot legally un-opensource the Mapbox GL specification as it is under a BSD licence. There's no way back from that. The only possible impediment that I could imagine is to forbid @lukasmartinelli t

[2017-04-04 18:09] lukasmartinelli commented on #100
No this is about using Mapbox GL JS :) ❤️

[2017-04-04 18:09] #100 closed

[2017-04-05 04:24] nyurik commented on #120
@orangemug I guess we can close this for now.  Ideally, loading from gist or url should be possible from the UI.

[2017-04-05 06:12] orangemug commented on #120
That's a good point @nyurik, we'll leave it open then and add that to the open modal as a part of this ticket.

[2017-04-08 00:51] stirringhalo opened #126 "Add the Right-To-Left plugin"
Needs the RTL plugin in order to properly display Arabic and similar languages.

[2017-04-08 15:32] orangemug commented on #126
For reference this is the plugin <https://github.com/mapbox/mapbox-gl-rtl-text>

[2017-04-11 07:39] orangemug commented on #94
Closing this issue, when/if its supported in mapbox-gl-js (mapbox/mapbox-gl-js#3184) we'll reopen.

[2017-04-11 07:39] #94 closed

[2017-04-11 07:44] orangemug commented on #53
@muesliq @lukasmartinelli where are we with this ticket? It looks like we have tooltips in the UI, do we want to collapse the JSON editor by default, also is there anything else required?

[2017-04-11 08:24] pathmapper commented on #53
For adding optional fallback font(s) for a layer, it seems like one has to use the JSON editor. Maybe it would be possible to implement it directly in "Text layout properties".

[2017-04-11 10:18] muesliq commented on #53
Tooltips are implemented, deep links into the GL style spec are not. They would be nice to have I think but the general usability for novice users is a lot better now. I am closing this ticket for now.

Matter of taste. I would leave it open.

[2017-04-11 10:18] #53 closed

[2017-04-11 10:20] muesliq commented on #120
Somehow related: #50

[2017-04-11 10:21] muesliq commented on #64
Most of the points have been implemented, I'm closing this now.

[2017-04-11 10:21] #64 closed

[2017-04-11 10:26] muesliq commented on #121
I guess the concerns have been addressed sufficiently? Closing this for now.

[2017-04-11 10:26] #121 closed

[2017-04-11 11:46] orangemug commented on #53
@pathmapper that sounds like a new ticket, feel free to open one.

[2017-04-11 13:04] orangemug commented on #69
The components of Maputnik don't seem that useful outside of the app. Since there has been no activity in ~3months can we close the issue? We can always reopen if new ideas / information surface.

[2017-04-11 13:24] orangemug commented on #82
So to clarify do we just want a link to the following in the UI somewhere?

[code]

[2017-04-11 13:31] orangemug commented on #117
Hey @nyurik I just tried to recreate this bug in the latest version using the openmaptiles source and got no error. Can you add some more details about the map source?

[2017-04-11 13:58] pathmapper opened #129 "Text layout properties - add/remove font"
For adding optional fallback font(s) for a layer, one has to use the JSON editor at the moment. Maybe it would be possible to implement it directly in "Text layout properties", e.g. a "+" button that adds
[code]
to the JSON style.

A "&#8722;" button could be used to delete an existing fallback font.
Current situation: When deleting the name of a fallback font in "Text layout properties", then
[co

[2017-04-11 14:12] #69 closed

[2017-04-11 20:42] #126 closed

[2017-04-12 08:16] pathmapper opened #130 "expand/collapse all layer groups"
It would be useful to be able to expand/collapse all layer groups with one click or keyboard shortcut.

Current situation example:
If you want to work on all symbol layers within a style, you have to expand all layer groups manually not to miss one of them.

[2017-04-18 12:50] chriswhong commented on #103
Sorry for not responding to this one, thanks @lukasmartinelli for the tip on a quick regex in the console!

[2017-04-19 14:09] mapsgeek opened #131 "source layer doesn't show drop down list"
i see in a video tutorial (Maputnik - Design Map Style from Scratch) that the source layer should give a list of the available layers in a source but this is not working for me and not even in the hosted version of the application when i choose (openmaptiles) as a source or any other source such as mapbox streets.
i'm also having a problem adding my own hosted vector-tiles as a source with .{x}/{y

[2017-04-19 14:16] lukasmartinelli commented on #131
The detecting layers in the source is kind of a hack. In order to know the layers we first need to look at the tiles and request them until we can populate the dropdown.

So when adding a brand new source that is not used in any layer - the dropdown sometimes stays empty.

[2017-04-19 14:27] mapsgeek commented on #131
ok can you please give any hints about adding a source from a .pdf endpoint which comes that way
http://..../services/vector-tiles/KenyaCounties/{z}/{x}/{y}.pbf
nothing shows even in inspect mode

[2017-04-19 23:17] PetersonGIS opened #132 "Default property"
Is the default property not available yet in Maputnik? I am not able to get it to work, though I see it implemented [here](https://jsbin.com/wagifogohi/edit?html,js,output) as part of version 0.33.0.

[2017-04-23 09:06] orangemug commented on #132
Related to #96

[2017-04-23 09:08] orangemug commented on #110
PR #124

[2017-05-02 08:26] andreasflind opened #137 "CLI, --file not working"
I've tried to set up a local CLI and wanted it to load my style. It says "style.json is accessible via Maputnik".
But when i access maputnik it just loads the basic style.

Im launching it with ./maputnik --file style.json

I've tried with different versions of maputnik and different styles.

[2017-05-06 01:26] caneroj1 opened #138 "1.0.2 Binaries"
Are there no associated binaries for this release?

[2017-05-06 17:50] lukasmartinelli commented on #138
Uhh not yet. Need to make one. You can always fake it by having the maputnik server run and then download the zip and open the html page locally (or even go to the webpage and open).
It will always try to connect to localhost (your local maputnik server) first before using local storage.

[2017-06-16 07:55] exotfboy opened #143 "Icon and font"
How can I add custom icons for a layer, also I found that maputnik use custom glyphs instead of mapbox.

How do you build the glyphs(fonts)?

[2017-06-26 16:59] bartvde opened #147 "fill-translate prop gets translated into zoom field"
It seems that a fill-translate prop gets translated into a zoom field somehow, I will see if I can come up with a PR to fix that, because I don't think this is intentional since it also leads to propTypes warnings

[code]

![selection_319](https://user-images.githubusercontent.com/319678/27550903-f29d29f6-5a66-11e7-95b8-3b7c994acdaa.png)

[2017-06-26 17:00] bartvde commented on #147
actually looking at the screenshot, it seems many of the properties get turned into zoom fields

[2017-06-26 17:03] bartvde opened #148 "Publish to npm"
As initially discussed here: https://github.com/maputnik/editor/pull/145#issuecomment-311118030

this ticket describes my use case for wanting to publish maputnik to npm.

So in my React-Redux based project I plan to integrate the LayerEditor component of Maputnik to facilitate symbology editing without having to write it from scratch. I can use a git connection string for now, but better would be

[2017-06-26 17:12] orangemug commented on #148
@bartvde it would be great to get details of this if you are able to share. I've been meaning to raise a ticket for a while to ask everybody where all our (mainly @lukasmartinelli) hard work is getting put to good use.

[2017-06-26 17:17] bartvde commented on #148
sure, it is still work in progress (prototype stages), but once we have it hammered out we will definitely share it

[2017-06-26 17:19] bartvde commented on #148
We have an SDK (https://github.com/boundlessgeo/sdk) which we are porting over to use redux (it was still flux based) and want to use maputnik style editing components later on, my small prototype is here: https://github.com/bartvde/layerstore-test

[2017-06-27 07:42] orangemug commented on #148
Maybe we should add a 'used by these people' section to our readme / new website.

Thoughts @lukasmartinelli ?

[2017-06-27 09:25] mathieudebrito commented on #137
I Have the same issue !
Any idea please ?

[2017-06-27 13:20] mimiqkz opened #150 "Background doesn't change for OL 3"
I tried to change the color of the landscape in OL 3 through Background, but nothing seems to work.

[2017-06-27 17:25] orangemug commented on #148
Ok anyway back to npm publishing. We should definitely do this. I'll look to automate it via travis so tagged commits get auto published to npm, I think I've done this before... I'll have to dig through some old code and take a look. I think I'll need @lukasmartinelli to configure the private keys on travis also.

I'll have a look and report back.

[2017-07-07 08:07] #147 closed

[2017-07-22 12:57] orangemug commented on #123
We are most of the way there now, Circle CI builds to the artifacts directory and you can get a link via the artifacts for a particular build see https://circleci.com/gh/orangemug/editor/4#artifacts/containers/0 for an example.

We just need to enable circle CI on the main repo, as its currently only enabled on my fork (@lukasmartinelli you should have a request to for perms via github)

The next

[2017-07-26 02:19] stevage opened #153 "Mapzen tiles URL incorrect"
When adding the Mapzen tiles as a data source, it proposes this URL:

`http://tile.mapzen.com/mapzen/vector/v1/{layers}/{z}/{x}/{y}.pbf?api_key=mapzen-RVcyVL7`

Two issues:

1. `{layers}` should be replaced, probably by `all`
2. `.pbf` should be `.mvt`

Hence:

http://tile.mapzen.com/mapzen/vector/v1/all/{z}/{x}/{y}.mvt?api_key=mapzen-RVcyVL7

[2017-07-26 04:41] lukasmartinelli commented on #153
Could you make a PR to fix this? You can search for mapzen in the code.

[2017-08-04 06:00] stevage commented on #116
It's annoying, but you can usually work around it with the right sequence of keystrokes. In this case, you could:

- type `9` in the second box,
- then type a "1" before the `9`: `19`
- then select the `9` and change it to a `2`: `12`

[2017-08-04 06:04] stevage commented on #129
Another motivating problem: every symbol layer has two fonts by default, and you can't remove the second one. That means you can't use orangemug's [excellent Github repo](https://github.com/orangemug/font-glyphs-v2/tree/gh-pages) because it doesn't support fetching multiple fonts at once (".../Open Sans,Arial Unicode/....").

(I'm not really clear why one needs fallback fonts, when all the glyphs

[2017-08-04 14:17] lukasmartinelli commented on #116
^ I usually work mostly in JSON mode for this kind of stuff.

[2017-08-08 10:16] DragonSuper opened #154 "How to change the default editor map"
I open http://localhost:8888/ , will show default editor map。
But, I want to open  http://localhost:8888/,  will show my editor map .
And I can modify edited object  ，For example, I can edit AAA map，then I can edit BBBB map

[2017-08-08 23:55] stevage opened #155 "Load/save from Github Repo"
This was tracked in #3, which was partially implemented with Gist support, but no repo saving/loading yet.

[2017-08-09 00:18] stevage commented on #137
FWIW, that works ok for me with v1.0.1 on OSX. (There doesn't seem to be a downloadable binary for v1.0.2)

[2017-08-09 17:39] orangemug commented on #154
Hi @DragonSuper you can launch the editor with a `style` param if that helps. For example

[code]

There is some more discussion of that in issue #120. Does that solve your issue?

[2017-08-09 17:50] orangemug commented on #143
You'll need to change the urls in the style settings modal

 - Sprite URL
 - Glyphs URL

I haven't used any friendly tools to do this myself. But the following look like a good place to start to generate the assets

 - https://github.com/sabas/genfontgl
 - https://github.com/mapbox/spritezero

I also created a little experiment to create typefaces and host on github pages see https://github.com/or

[2017-08-23 14:13] mapsgeek opened #156 "UI enhancement"
in the add source panel, it should have a scrolling, because once you add a new source the close button disappear out of the screen and i find my self have to zoom out of the browser so i can see it again, and the more sources  you add the worth it gets.

![capture](https://user-images.githubusercontent.com/10188264/29620353-0368f406-881e-11e7-93ba-679438ec0678.JPG)
![capture2](https://user-images

[2017-08-23 14:33] lukasmartinelli commented on #156
Yes the source panel needs some rework to function properly when adding many sources.

[2017-09-05 04:40] gorn opened #157 "Filter by relation"
How can I filter ways which are in relation with type=route; route=hiking? I would like to style them differently.

[2017-09-09 07:31] JiaXingKing commented on #109
Hey @lukasmartinelli,I'm new as a map designer. when i used this tool, i was always confused about the source-layer option. at the beginning, I drag the Geojosn or any other source in. but there is no any layer name in sources, just has FeatureCollection. so how can I put a layer name in source-layer option?

[2017-09-12 09:21] mmuelder commented on #137
I'm having the same issue (1.0.1 linux)

[2017-09-20 21:29] keum opened #158 "http://maputnik.com/editor/ site is not working"
Hello there, I'm not sure if this is a domain issue or something else is that's preventing from Maputnik site to work.
thank you for looking into this.

[2017-09-21 05:52] pathmapper commented on #158
Looks like the previous registry expiry date of the domain has been yesterday:

`Registry Expiry Date: 2017-09-20T11:30:39Z`

Currently maputnik.com shows:

![image](https://user-images.githubusercontent.com/20856381/30680648-2e5b5eda-9ea1-11e7-86fd-30ef34257a89.png)

@lukasmartinelli Did you extend the domain registry for maputnik.com?

[2017-09-24 06:50] orangemug commented on #158
@lukasmartinelli I suggest we just remove the CNAME and use <http://maputnik.github.io> instead thoughts?

[2017-09-26 23:23] luckydonald commented on #158
Now is one of _them_ sites:
![grafik](https://user-images.githubusercontent.com/2737108/30888720-5a1bf6e4-a322-11e7-9c4f-37969ac1f91f.png)

[2017-09-27 20:33] carrbrpoa opened #159 "Other formats?"
Hello,

Is it possible to transform it's JSON to/from mapnik XML or CartoCSS?

[2017-09-28 15:38] muesliq commented on #159
Not with Maputnik, no.

[2017-09-28 15:38] #159 closed

[2017-09-29 13:37] lukasmartinelli commented on #158
Yup https://maputnik.github.io/ seems to work now. Will try to reactivate old domain in the meantime we can replace the links.

I like https://maputnik.github.io/ better. I just don't want to make maputnik.com a broken link though.

[2017-09-30 00:34] chriswhong opened #160 "Rasters with `tiles` defined throwing errors"
When loading Maputnik with a complete style JSON via the `style` query param, my raster layers are throwing errors.

The sources are defined as
[code]
Each raster source I try to load with configs like the above yields the following 3 errors:

<img width="700" alt="maputnik_" src="https://user-images.githubusercontent.com/1833820/31040434-6884a76e-a555-11e7-9ea5-e49f34d5f367.png">

It looks like i

[2017-09-30 09:55] orangemug commented on #160
@chriswhong this might be related to #124 give that branch a try, I'll also try and test / merge that PR over the weekend.

[2017-10-03 22:35] chriswhong opened #162 "Add "Related Projects" links somewhere?"
Hi,

Our team at NYC Planning Labs (NYC Department of City Planning) has developed `maputnik-dev-server`, which we use to instantly open mapboxGL maps from our in-development apps in Maputnik.

https://github.com/nycplanning/labs-maputnik-dev-server

We wanted to share it with the community of Maputnik users, and are wondering if there is a good place to link to it from the wiki or perhaps the REA

[2017-10-04 20:49] orangemug commented on #162
@chriswhong `maputnik-dev-server` looks great! Definitely add a "Related Projects" section to the README. Above the sponsors seems like a good place to me.

[2017-10-04 20:56] orangemug commented on #123
Hey @lukasmartinelli could you enable circleCI if you have the time. It would really help to quickly review pull requests like #161.

[2017-10-05 05:00] #162 closed

[2017-10-05 05:35] chriswhong commented on #160
I tried #124 but saw the same issue.  FYI the rasters load as expected, it's just a bunch of errors that don't seem to actually break anything.

On further investigation, at some point my style, which has valid raster sources, is replaced with the invalid ones (raster sources with both a `url`(undefined) and a `tiles` value.

So I noticed the following warnings
<img width="463" alt="maputnik" src=

[2017-10-05 05:55] orangemug commented on #158
I think if you reactivate `https://maputnik.com` it'll start redirecting `https://maputnik.github.io -> https://maputnik.com` so I think we need to pick either one or the other. I think `maputnik.com` is everywhere so ideally we'd stick with that. @lukasmartinelli any luck with the domain?

[2017-10-05 08:57] orangemug opened #164 "Show & tell"
Hi Maputnik community,

I think it'd be great if we could share the work being created by all the talented people using Maputnik.

If you're a company, organisation or individual please share your work. What I'm looking for

 - Images / links to maps made with Maputnik
 - Testimonials - Why is Maputnik useful for you and your team?

It'd also be great to get a list of companies and organisations u

[2017-10-05 12:27] orangemug commented on #160
@chriswhong do you have a minimal test case that shows the issue?

[2017-10-10 14:24] orangemug commented on #164
@pjsier @chriswhong @bartvde I thought you all might want to share your work. If you're not interested, feel free to ignore

[2017-10-10 14:27] bartvde commented on #164
@orangemug we have actually taken a different approach since and are not using maputnik anymore

[2017-10-10 14:31] orangemug commented on #164
@bartvde ok, thanks for the reply.

[2017-10-10 14:37] orangemug commented on #158
Hi @lukasmartinelli sorry it's me again. So I'd like to get maputnik working again, it's a little broken at the moment. I'm guessing the services are setup to have `https://maputnik.com` as the domain and are hence failing is an `403 unauthorized` and since `https://maputnik.com` is various places over the internet it'd be good to get this fixed.

Is there anything I can do to help? If payment is

[2017-10-10 14:38] #143 closed

[2017-10-10 14:50] orangemug commented on #157
There is a 'filter' section in the UI

<img width="351" alt="157" src="https://user-images.githubusercontent.com/235915/31392963-79a3a178-add2-11e7-8cb8-e35fb5ae3b64.png">

If you load the [osm-liberty](https://github.com/lukasmartinelli/osm-liberty) style you should see lots of examples of its usage.

[2017-10-10 15:11] gorn commented on #157
Is it checking tags from relation or the way itself?

I need to filter out

- any way which belongs to relation
- such that the relation has tags type=route & route=hiking

[2017-10-10 15:18] tomass commented on #157
Maputnik (styling) works with vector tiles, which are produced by using geographic (for example OpenStreetMap) data. That is relations/ways and their tags are processed during the creation of vector tiles - **before** styling/maputnik comes into the picture.
That is information about routes has to be used in vector tile creation mechanism. There is nothing Maputnik can do about it. Choose vector t

[2017-10-10 16:24] orangemug commented on #157
Thanks @tomass, I didn't even consider this. @gorn if it's not in the vector tile data then maputnik can't see it. To check you can just enter the inspect mode and see what's available.

Does that make sense?

[2017-10-10 18:19] orangemug commented on #110
PR #124 merged

[2017-10-10 18:19] #110 closed

[2017-10-10 18:21] #154 closed

[2017-10-11 09:27] #114 closed

[2017-10-11 09:38] orangemug commented on #117
Closing the issue. If someone experiences this issue again comment and we'll reopen.

[2017-10-11 09:38] #117 closed

[2017-10-11 13:03] pjsier opened #171 "Add "Share this Style" button with pre-populated URL including style"
Building off of the functionality requested in #120, add a "Share this Style" button after you've saved a style to an anonymous gist. It could show the URL with the style parameter pre-populated, and copy it to the clipboard if you click a button to make it more apparent that the functionality exists

[2017-10-11 13:06] orangemug commented on #129
@stevage it's not really fallback fonts but rather fallback characters (glyphs). Its a little confusing let me explain.

Typefaces only support a part of the unicode character range, this support varies I believe https://www.google.com/get/noto is the only typeface to support it all. So when we are saying `Open Sans,Arial Unicode` what we're looking for is `Open Sans` if the character isn't suppor

[2017-10-11 13:12] orangemug commented on #129
As for the issue, although it would be nice to have multiple fonts supported until we have a public server that implements the above we are unable to implement this feature.

Note: For future reference we might be able to do an ugly hack once the [Service Worker API](https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API) is widely supported by intercepting the request.

[2017-10-11 16:16] orangemug commented on #132
It's been added in #161

[2017-10-11 16:16] #132 closed

[2017-10-11 16:17] orangemug commented on #96
@pjsier added this as a part of #161

[2017-10-11 16:17] #96 closed

[2017-10-12 17:16] gregorywolanski commented on #41
I tried to reproduce the issue. I guess I made it.

If you could confirm it, I’ll be happy to dive into the codebase of Maputnik to try to fix the bug. :)

<img width="746" alt="screenshot" src="https://user-images.githubusercontent.com/787518/31509424-b73f0dbe-af81-11e7-8b21-987a020a2f90.png">

[2017-10-12 17:59] orangemug commented on #41
Hi @gregorywolanski thanks for a sample of the issue. So I think I know what's going on and I think it's kind of 'correct'. So I believe what is happening is that there are actually 2 overlapping features under the cursor in the source data. I added some logging in `src/components/map/FeatureLayerPopup.jsx` quickly and it looks like the `feature.id` is different in each case.

[code]

I think the

[2017-10-12 18:14] #120 closed

[2017-10-12 19:27] pathmapper commented on #41
Hi, @orangemug do you suppose these are two different features? I am asking because it could be a feature "ovelapping itself" because of buffers if _feature.id_ is what is described here as _object ID-s_: https://github.com/openmaptiles/openmaptiles/issues/303

[2017-10-12 19:28] pjsier commented on #164
@orangemug I work with an organization called Eviction Lab on an open source web app visualizing eviction data across the United States (more information here https://preview.evictionlab.org/). It's currently in development ([GitHub org here](https://github.com/EvictionLab)), but Maputnik has been great for making it easier for designers and developers to collaborate on map styles. It's been espec

[2017-10-12 19:43] orangemug commented on #41
@pathmapper I believe so but I'm not 100%, I only took a quick look. @gregorywolanski are you able to take a look and confirm?

[2017-10-12 19:51] orangemug commented on #164
Thanks @pjsier.

Yeah apologies I've been a bit slow on that I'll try to get on to that tomorrow. On yet another related note @lukasmartinelli can you make @pjsier a member of the maputnik org

[2017-10-12 20:16] pjsier commented on #164
@orangemug no problem! Is there an issue out there for automating deployments with Travis? And, out of curiosity, is editor.openmaptiles.org pulling from the same source or is that updated separately?

[2017-10-12 20:26] orangemug commented on #123
@pjsier moving the convo from the other issue #164. So with the circleci (a slight hack but works great) we have per branch builds. See above

I would also like per tag builds to a the maputnik/website repo. The reason being that I always want a user to be able to revert to the previous version if we make a mistake. The number of devs on the project is quite small at the moment and I don't want no

[2017-10-13 13:51] pjsier opened #173 "Automate deployments"
Building off of the conversation with @orangemug in #123, it looks like Travis and/or CircleCI could be used more to automate deployments. Instead of updating the main GitHub Pages repo, Pages could be turned on in this repo and a build step could be added that deploys the site to the `gh-pages` branch so that it will still be available at maputnik.github.io/editor

Alternatively, for branch, tag,

[2017-10-13 16:16] lukasmartinelli commented on #158
I want to move everything over to https://maputnik.github.io/editor.
I also don't like I bought the .com domain initially instead of .org.
If I get it back I will redirect to https://maputnik.github.io

[2017-10-13 17:12] gregorywolanski commented on #41
<img width="844" alt="screen shot 2017-10-13 at 19 11 14" src="https://user-images.githubusercontent.com/787518/31557760-6207cc90-b04a-11e7-9f4d-572226abbce1.png">

[2017-10-14 19:11] pjsier commented on #153
@orangemug just to clarify, weren't we thinking of keeping this open as a reference for people? I'm fine with closing it since it's removed, but wanted to check

[2017-10-14 19:18] orangemug commented on #153
@pjsier good spot, I've reopened the issue

If anyone would like to fix Mapzen please submit a PR.

[2017-10-15 20:10] lukasmartinelli commented on #41
Yes I remember fixing it.

On Mar 7, 2017 10:28 AM, "Orange Mug" <notifications@github.com> wrote:

[2017-10-15 20:16] gregorywolanski commented on #41
How should I understand that? :)

[2017-10-15 21:34] orangemug commented on #41
Yeah I'm a little confused as well with the comment @lukasmartinelli. I'm assuming there was an issue that was fixed. However as @gregorywolanski points out there is still an issue here. We appear to have 2 features with the same id underneath the cursor, as shown in the following

<img width="149" alt="with-same-id" src="https://user-images.githubusercontent.com/235915/31589384-7a184f30-b1f8-11e7

[2017-10-16 01:14] pjsier commented on #156
This was closed by #165. @orangemug I'm just going through and doing some housekeeping on issues that have been resolved

[2017-10-16 08:21] pathmapper commented on #41
My thoughts on this:

1. The initial issue is fixed:

This is what @lukasmartinelli remembered and it is also visible in inspect mode that this is not an issue anymore:

![image](https://user-images.githubusercontent.com/20856381/31599990-0a364fe8-b255-11e7-8259-650e50f6cd65.png)

![image](https://user-images.githubusercontent.com/20856381/31600010-18982e30-b255-11e7-9d46-e845df7eae2b.png)

<hr>

[2017-10-16 08:24] orangemug commented on #156
Thanks @pjsier

[2017-10-16 08:24] #156 closed

[2017-10-16 13:55] #171 closed

[2017-10-16 14:25] orangemug commented on #158
With #175 merged I think its changed everywhere except the https://github.com/maputnik/maputnik.github.io header

<img width="635" src="https://user-images.githubusercontent.com/235915/31616932-f28957b0-b285-11e7-9189-321e35e725ba.png">

@lukasmartinelli you're the only one with perms to change that. On that note any chance I can get admin perms to the repos?

[2017-10-16 16:28] keum opened #177 "Cannot load HTTP vector sources"
When I tried to load the data using https://maputnik.github.io/editor/#10.82/47.6967/-122.2273
this site, it doesn't work.
But when I do load onto this maputnik http://editor.openmaptiles.org/#10.75/47.6140/-122.3843
it works fine.
Can someone can explain the difference between maputnik that's running on github.io and another one running off openmaptiles folks?
I'll be greatly appreciated for your

[2017-10-16 18:26] lukasmartinelli commented on #177
Wondering whether it has to do with HTTP/S and mixed content.

2017-10-16 12:28 GMT-04:00 Peter Keum <notifications@github.com>:

[2017-10-16 18:47] orangemug commented on #177
@keum if you use https (https://editor.openmaptiles.org/#10.75/47.6140/-122.3843) do you get the same issue?

[2017-10-16 21:12] keum commented on #177
@orangemug no, openmaptile version of maptunik works fine and renders the data.  I think what @lukasmartinelli is thinking that http/s might has to do with it. Openmaptile.org version  doesn't have https..just http.  I'm trying to add source from my DigitalOcean vector tile that I've created here. http://vectortile.pkgeo.com:8080/data/wabldg.json.  I think i see the problem, github's starts w/ HTT

[2017-10-17 15:14] lukasmartinelli commented on #158
Finally got all 2FA recovered. Purchased domain back and will set up a redirect once done to https://maputnik.github.io.
<img width="633" alt="order_details" src="https://user-images.githubusercontent.com/1288339/31673105-58fefac6-b32c-11e7-98d5-00e99dcc05fc.png">

@orangemug done, changed link!

[2017-10-17 16:06] orangemug commented on #158
Thanks @lukasmartinelli, I think we can close this issue now. Yay!

[2017-10-17 16:25] lukasmartinelli commented on #158
http://maputnik.com/ now redirects! @orangemug @keum @pathmapper

[2017-10-17 16:26] lukasmartinelli commented on #164
Done.

[2017-10-17 16:29] keum commented on #177
I see why it's doing it. I need to change my tileserver to serve https instead of http. I' think you can close this issue.

[2017-10-17 17:30] lukasmartinelli commented on #177
@orangemug I imagine the majority of people will serve their tiles via HTTP... and then they cannot use maputnik.github.io to style them quickly - cause it is HTTP.

I researched you cannot disable HTTPS enforcement on GitHub pages 😢 .
So we either promote more to download maputnik locally (since you can literally just download a zip file and open with browser) or provide a HTTP alternative (host

[2017-10-17 23:07] keum commented on #177
@lukasmartinelli there is two version for editor.openmaptiles.org
http://editor.openmaptiles.org/#8.89/47.6878/-122.4870
https://editor.openmaptiles.org/#10.73/47.5711/-122.4048
Looks like Klokan Tech is exposing both http and https...using http version, i can add vector data. what is relation between editor.openmaptiles.org maptunik & maputink.github.io ? are two are same code? thanks for the inp

[2017-10-18 16:28] orangemug commented on #177
@lukasmartinelli so I'm a fan of using `maputnik.com` I think having our own domain would make things a lot easier in the long run. I've got a number of things I'd like to work on that might have a server component, for example full github integration using something like https://github.com/prose/gatekeeper for auth. I think if the project continues to grow having our own domain again would be ine

[2017-10-18 17:06] orangemug commented on #173
So I've thought a little about this also.

I'm reluctant to using other services like surge or S3 just because it's another thing that only one (or a few people) have the keys for. Github static site hosting is amazing because everybody we add to the team has access because it's just github.

Also remember we can treat a github repo just like a static file server, so I don't see the advantage usin

[2017-10-18 17:18] pjsier commented on #173
I think that makes sense! We could have Travis or CircleCI (I just have more experience with Travis) deploy the build to `/editor` in the maputnik.github.io repo, as well as to `/editor/v1.0.2`, so that the next version would just override what's in the top level of `/editor` while still retaining the older version. The DNS part sounds interesting, but I'm not sure how to do it either

[2017-10-18 17:38] orangemug commented on #173
So I prefer Circle CI, this is mainly because of issue #123. In the long run my preference would be to move over to Circle CI and drop travis. That way we're getting the benefit of PR builds (as outlined in #123) without the need for another service.

**Note:** @lukasmartinelli hasn't enabled circle CI yet (he's the maputnik admin).

My main goal is to reduce the number of services we use, this sh

[2017-10-18 19:15] gregorywolanski commented on #87
@rroset Do you have in mind something similar to the thing you can see on the attached screenshot?

![1](https://user-images.githubusercontent.com/787518/31737914-459d7f52-b449-11e7-92a3-8702abe26b1b.png)

[2017-10-19 05:14] rroset commented on #87
Sure, that would do.
Another option would be to add it as text in the attribution line, like in here:
http://betaserver.icgc.cat/vectortiles/mtc25m14_elevation.html#10.99/41.5972/2.364

I'm happy with any of those =)
thanks

[2017-10-22 08:59] gregorywolanski commented on #41
@pathmapper

2. Do you know any case in which duplicates could be useful?

[2017-10-22 17:04] pathmapper commented on #41
@gregorywolanski Only very rare cases for debugging like clipped labels at tile boundaries. I would prefer to remove the duplicates related to buffers in the inspect view of Maputnik if possible. Instead it would be useful to have an option to display the tile boundaries.

[2017-10-23 07:46] Messa1 opened #180 "Export as"
Would be nice if i can export the map (Viewport), after styling, as a image (vector).
Best would as SVG, PDF or ESP File.

Is there any way to include this extension?

[2017-10-23 18:19] lukasmartinelli commented on #177
For serving tiles online.
But what about people who just use it to style some tiles lying around locally.

We can resurrect maputnik.com again (reverting the maputnik.github.io PR), the CNAME is already still pointing to github.

Force push master from https://github.com/maputnik/maputnik.github.io to https://github.com/maputnik/maputnik.com and add CNAME file.

[2017-10-23 20:52] keum commented on #177
thanks @lukasmartinelli I agree. I think for local development, you'll just need to use locally installed Maputnik.  I'm satisfied w/ options so you're free to close the tix if you would like.

[2017-10-23 20:54] keum opened #181 "Most current version of software?"
Hello there,
I'm curious as to what version of software running on the web https://maputnik.github.io/editor/#1.39/-0.0/0.4
Is this same as v1.0.2 from download page here? https://github.com/maputnik/editor/releases/tag/v1.0.2

thanks

[2017-10-24 16:53] fawick opened #182 "Changing order of layers in the editor"
Not sure whether this should already be possible, i.e. whether this is bug or a feature request.

As a user, I would like to change the order of the styling rules by moving layers up or down in the list.

At the moment I edit my style with [maputnik/desktop](github.com/maputnik/desktop) and using `--file style-json --watch`, kill the Go-executable, order layers with `vim style.json`, and restart M

[2017-10-24 17:12] tomass commented on #182
When you move a mouse pointer over the layer type icon on the left side, pointer changes to direction-arrows. You can then move layer up or down while you hold the mouse button.
Does this work for you?

[2017-10-24 17:27] fawick commented on #182
Thank you, that does indeed work on Linux/Firefox   I'm currently on. I wrote the issue from a Windows/Chrome box that I need to check  tomorrow. If it does work there, too, I'll close the issue. Otherwise I try to investigate and report back here.

[2017-10-24 18:50] gregorywolanski commented on #130
I don't know where the icons used in Maputnik come from (@lukasmartinelli? @orangemug?) so I allowed myself to use text label.

What do you think about it working and looking like on the attached GIF?

I’m open to feedback before creating a pull request. :)

![2017-10-24 20_45_34](https://user-images.githubusercontent.com/787518/31961927-7f10b83c-b8fc-11e7-9059-8943812eeb96.gif)

[2017-10-24 19:35] pathmapper commented on #130
@gregorywolanski wow, very nice!

I like the place where you put the icon and I think your text label (Expand/Collapse) fits very well with the "Add Layer" button.

Thanks a lot!

[2017-10-25 07:15] fawick commented on #182
So I tested and of course it works in Chrome, too. I was just too thick to find this interaction on my own.

[2017-10-25 07:15] #182 closed

[2017-10-25 18:15] fawick opened #183 "desktop: Add parameter for serving static files"
This is in regard to [maputnik/desktop](https://github.com/maputnik/desktop).

I like to propose a parameter `--static` for maputnik/desktop](https://github.com/maputnik/desktop) that takes a directory  (e.g. `--static ./foo/bar`) and serves the contents of that directory with  [`http.FileServer`](https://golang.org/pkg/net/http/#FileServer)`(`[`http.Dir`](https://golang.org/pkg/net/http/#Dir)`(..

[2017-10-25 18:24] fawick opened #184 "desktop: Integrate consbio/mbtilesserver"
/cc @brendan-ward @consbio

This is in regard to [maputnik/desktop](https://github.com/maputnik/desktop).

I'd like to propose to vendor and integrate https://github.com/consbio/mbtileserver/ and use it in  [maputnik/desktop](https://github.com/maputnik/desktop) to serve `.mbtiles` sources directly with the Go HTTP server of [maputnik/desktop](https://github.com/maputnik/desktop).

Basically, this

[2017-10-25 18:31] fawick commented on #184
I forgot to mention, [mbtileserver](https://github.com/consbio/mbtileserver)  is [licensed under ISC license](https://github.com/consbio/mbtileserver/blob/master/LICENSE) , which would be compatible with the MIT license used for Maputnik.

[2017-10-25 19:45] orangemug commented on #173
FYI, I've started dev on this, I'll push a branch tomorrow or Friday for review.

[2017-10-25 20:00] orangemug commented on #177
@lukasmartinelli good point. Allowing both http and https sounds good to me at this point then.

In future I may look to create a standalone static file server that supports https. I have some experience of this with https://github.com/orangemug/manage-hosts, if anyone is interested this branch https://github.com/orangemug/manage-hosts/compare/feature/https adds self signed certs on OSX (messy but

[2017-10-25 20:08] orangemug commented on #182
@fawick I totally missed this interaction the first couple of times using the editor also. It's not very obvious. If anyone else finds this ticket with the same issue please leave a comment and we'll try to make it a bit more obvious.

[2017-10-25 22:16] gregorywolanski commented on #95
I’m working on it.

[2017-10-27 02:23] chriswhong commented on #164
Hello all, we are a new dev shop at the New York City Department of City Planning.  We're building a lot of map-heavy applications, and maputnik has been a huge help.  You can see our first project that uses mapboxGL here: [https://communityprofiles.planning.nyc.gov](https://communityprofiles.planning.nyc.gov)

We also created [maputnik-dev-server](https://github.com/nycplanning/labs-maputnik-dev-

[2017-10-27 13:43] orangemug commented on #173
So I'm a little behind on this, but here is the progress so far https://github.com/orangemug/git-deploy is anyone is interested or has any feedback (cc @pjsier)

[2017-10-27 17:50] gregorywolanski commented on #41
OK, guys, how do you decide what to do with such issues in this project? :) Can I help in any way? :]

[2017-10-27 17:51] gregorywolanski commented on #82
@ImreSamu? :)

[2017-10-27 17:54] gregorywolanski commented on #60
I'm working on it. I need to get https://github.com/lukasmartinelli/mapbox-gl-inspect/pull/8 merged to finish this enhancement. :)

[2017-10-28 10:43] orangemug commented on #180
This sounds like a good candidate for another app that shares the same underlying datastore. Lets try and define what that might look like.

I guess we'd need

 - options to set a bounding box area for export
 - density (or size) of the output image

I'm guessing we could just grab the pixel buffer from the webgl context so the output would be a raster... although I haven't actually tried this.

[2017-10-28 12:29] pjsier commented on #180
For PNG raster output, we can set `options.preserveDrawingBuffer` to true, and then `map.getCanvas().toDataURL()` to get the output. SVG is a bit harder, but I think I've seen implementations

[2017-10-28 12:34] Messa1 commented on #180
For me SVG or a vector format Interesting. PNG i can also create with a Screenshot :) I will donate for this extension for the online editor.

[2017-10-29 18:02] orangemug commented on #173
Right here is how it's going to work. The tools ([git-deploy][git-deploy]) are built and ready to be integrated into maputnik.

We have a new repository called [maputnik/editor-builds][maputnik-editor-builds] which will store all the builds for the [maputnik/editor][maputnik-editor] repository.

[maputnik/website][maputnik-website] and [maputnik/desktop][maputnik-desktop] contain submodules to the

[2017-11-02 09:34] chebourne opened #188 "Changing styles sprite reference"
Hi,
I'm trying to change the sprite URL in the style settings to a different server - I want to use custom sprites/icons.

I have download sprite.json, sprite@2x.json, sprite.png, sprite@2x.png for OSM-Bright and am serving them without problem on https://www.pma.co.uk/sprite/ e.g. https://www.pma.co.uk/sprite/sprite.json

The URL I am entering is https://www.pma.co.uk/sprite/sprite which I believ

[2017-11-02 12:58] orangemug commented on #188
Hi @chebourne I'm assuming you're doing this on <http://maputnik.github.io/editor> if you look in the web inspector you'll see the error

You'll need to add a CORS header to the response from your server. See <https://enable-cors.org/> for details.

[2017-11-02 14:37] orangemug commented on #155
I'm going to be working on this over the next week.

[2017-11-02 15:22] orangemug commented on #188
@chebourne also note, [github pages](https://pages.github.com/) has CORS enabled (`access-control-allow-origin:*`), so might be a good option for testing.

[2017-11-02 15:34] chebourne commented on #188
Thanks orangemug,

In the end I copied the sprite files to an Apache2 server on the same virtual machine as the Tileserver GL implementation I am working on.

Had to add the CORS header as instructed at [https://enable-cors.org/]

Is working perfectly with Maputnik now pointing at that server.

[2017-11-02 15:42] orangemug commented on #188
@chebourne good to hear. By the way we're always interested with how/what people are using maputnik for, if you'd like to share please leave a comment in ticket #164

[2017-11-02 15:43] #188 closed

[2017-11-02 16:53] orangemug commented on #180
So as far as I can see SVG support isn't possible at this time as there is no interface to do that in mapbox-gl-js. We could do a raster exporter but there doesn't seem to be any interest in that at this time.

@pjsier please include links if you know different regarding SVG output

[2017-11-02 16:55] orangemug commented on #160
Hi @chriswhong did you get any further with this and is this still an issue?

[2017-11-02 16:58] orangemug commented on #157
I'm assuming the issue was that it wasn't in the underlying data source, closing the issue. @gorn if you have any more problems just leave a comment and we'll reopen the issue.

[2017-11-02 16:58] #157 closed

[2017-11-02 16:59] pjsier commented on #180
@orangemug The only implementation I've seen just gets the shapes, not the styles: https://github.com/hanbyul-here/svg-exporter

It's hypothetically doable to get the shapes as GeoJSON and then convert those to SVG, but you'd also have to translate the style spec to SVG styles. This probably isn't doable without a lot of effort, and even then there are some properties that likely wouldn't work

[2017-11-02 17:06] orangemug commented on #180
Thanks @pjsier that's where I got to as well. I'll leave the issue open for a bit incase anybody is following along and wants a raster exporter. Else I'll close the issue in a week or so.

[2017-11-02 17:08] orangemug commented on #87
@gregorywolanski submitted a PR which has been merged. Closing the issue.

[2017-11-02 17:08] #87 closed

[2017-11-02 17:57] chriswhong commented on #160
No, It never caused a problem, just wanted to report the weird errors

[2017-11-03 04:13] keum commented on #177
I just finished maptime seattle last night and used https://github.com version. it's little cumbersome but when you load the source data, I needed to disabled the security on the browser in Firefox to render the http source vector data.
I also used the same method to see preview in bl.ocks.org as well...all went fantastically smooth and students loved using Maputnik  to see vector tiles being styl

[2017-11-03 04:13] #177 closed

[2017-11-03 06:03] rroset commented on #87
thanks you all!

[2017-11-05 17:57] orangemug commented on #160
Ok thanks @chriswhong I've tracked down the lines in the mapbox-gl-js source

https://github.com/mapbox/mapbox-gl-js/blob/master/src/ui/map.js#L902
https://github.com/mapbox/mapbox-gl-js/blob/master/src/style/style.js#L440

I'll keep an eye out for this happening in the console.

[2017-11-05 21:09] gregorywolanski commented on #87
BTW @rroset Silly question, but I’m not a pro Maputnik user myself and I’m curious: What do you need the X.X (float) accuracy of zoom level for? Why not an integer?

Also, I just realized that I implemented X.XX zoom level accuracy instead of X.X (or "XX.X", as you put it). I can change it.

[2017-11-06 07:44] tomass commented on #87
@gregorywolanski one of advantages of vector tiles is that you are not limited to fixed zoom levels. You can draw a map at zoom level 10.12 and it would be at different scale as compared to 10.23.

If you want to display two points and a route between them on the map, you can calculate exact zoom level (which would usually be float), so that both points fit in a viewport and both of them are at th

[2017-11-06 16:13] orangemug commented on #148
From <https://github.com/maputnik/editor/issues/164#issuecomment-335490639>

Closing the issue for now if anyone needs this, please shout and we'll reopen.

[2017-11-06 16:13] #148 closed

[2017-11-06 16:20] orangemug commented on #160
So the `Unable to perform style diff: Unimplemented: setSprite, setGlyphs` is valid see <https://github.com/mapbox/mapbox-gl-js/blob/b00d7e07c52a299190c2cd1c6c2d0cc6879e8e28/src/style/style.js#L37-L51>

@chriswhong you could try bumping mapbox-gl dep

[2017-11-08 09:29] gregorywolanski commented on #109
I’m working on getting rid of the modal.

[2017-11-08 15:39] orangemug commented on #131
@lukasmartinelli I think we can just grab the _source layers_ from the source definition json file.

There is a working branch here <https://github.com/orangemug/editor/compare/orangemug:fix/update-deps...orangemug:fix/source-layer-autocomplete> I'll submit a PR once https://github.com/maputnik/editor/pull/192 is merged.

[2017-11-08 15:48] orangemug commented on #97
Working branch is here <https://github.com/orangemug/editor/compare/orangemug:fix/source-layer-autocomplete...orangemug:fix/issue-97-layer-list-cutoff> seems to work ok. I'll tidy up and make a PR once the other pull requests this relies on are merged.

[2017-11-08 16:25] orangemug commented on #116
There is a work in progress branch here (waiting on #192 to be merged first). <https://github.com/orangemug/editor/compare/orangemug:fix/update-deps...fix/issue-116-zoom-field-v2?expand=1> this works by reordering the stops as you type.

There is a demo here <https://48-84182601-gh.circle-artifacts.com/0/tmp/circle-artifacts.572Crjw/build/index.html>. The current code breaks the data functions, I'

[2017-11-08 17:09] orangemug commented on #181
Hey @keum yeah it should be v1.0.2. I'm waiting for a response to #173 then we should have automated releases. If I don't get a response I'll push a release manually next week, we've had quite a few updates since that release.

I'll also look into putting in a version number somewhere in the UI. I'll leave this ticket open until those things are complete.

[2017-11-08 17:30] keum commented on #181
thanks @orangemug!  also with update release, would it accompany with description of feature changes if there are any?  Really looking forward to it!

[2017-11-08 18:40] orangemug commented on #155
Ok so I'm still working on this, there were a few other things that needed doing first. So a quick update as to where this is at.

The working branch is here https://github.com/orangemug/editor/compare/fix/update-deps...orangemug:feature/github-v2

It's basically hacked together in order to prove out the concept, it seems to work great. Here's what works (try to ignore the global variables 😱)

 1.

[2017-11-08 18:53] orangemug commented on #181
@keum sure I'll try to write a changelog. A couple of questions for you

 1. Do you have any time to do some manual testing? Basically I need someone (other than me) to quickly check over the new release (when its ready) to check I haven't broken anything.
 2. If you'd like to share what you're using maputnik for in ticket #164 that'd be awesome.

If you have time for either it'd be very much appr

[2017-11-08 19:17] keum commented on #181
Sure, I would love to test it out and use Maptunik to create some maps.  I don't really do any production work w/ maptunik...mostly trying to create various demos for folks to see the usefulness of maptunik and using various work flow.

[2017-11-08 21:38] stevage commented on #155
Sounds great. Couple of quick comments:

- Some users have a lot of repos (I have >100). Listing them all could be problematic.
- Sounds like you're not supporting the workflow of either creating a new repo, or saving to a repo that you didn't load from. Or sending a PR. You might want to spell that out to the user with a message at the appropriate time.

[2017-11-09 06:58] orangemug commented on #155
@stevage thanks for the feedback. Basically my aim initially is to to get the core working so we can iterate. I'll have a think about the above comments and get back to you. Any UI suggestions are also welcome.

[2017-11-09 07:33] orangemug commented on #181
I'd love to see anything you create, if you'd like to share #164 is the place

[2017-11-09 08:49] drenkan opened #194 "Can get http://maputnik.github.io/editor/ to work"
Any thoughts why?

[2017-11-09 09:11] orangemug commented on #194
It loads fine for me. If you're referring to http over https github pages doesn't allow http and auto redirects to https.

Do you have any more details?

[2017-11-09 09:15] orangemug commented on #194
Although openmaptiles is also `http 522: Connection timed out` (`https://free.tilehosting.com/data/v3.json`) so if you're style is using that source the map won't be loading.

[2017-11-09 11:00] drenkan commented on #194
Yes, I think it's the connection to https://free.tilehosting.com/data/v3.json thats not working for me. Can't seem to replace it with an alternative either, or do you think it will come live again? I can't get any map to show with presets on http://editor.openmaptiles.org/

[2017-11-09 13:18] orangemug commented on #194
@drenkan they seem to have fixed it now. Closing issue, just add a comment if you get any further issues and we'll reopen.

[2017-11-09 13:18] #194 closed

[2017-11-11 10:52] gregorywolanski commented on #155
It's more complicated than I anticipated. :)

I'll try to take a look at it tomorrow.

[2017-11-11 20:00] gregorywolanski commented on #109
Do you prefer to have `LayerEditor` modified or do you want me to establish `LayerCreator` component? @orangemug?

[2017-11-12 17:55] gregorywolanski commented on #155
OK, today I end on:

[code]

I'll get back to it tomorrow.

[2017-11-13 09:47] orangemug commented on #155
Hey @gregorywolanski I wouldn't bother testing this yet, as it's still a work in progress.

[2017-11-16 18:14] fawick commented on #184
Dear @orangemug and @lukasmartinelli, I would really love to get your feedback on this issue.

[2017-11-16 18:15] fawick commented on #183
Dear @orangemug and @lukasmartinelli, I would really love to get your feedback on this issue, too.

[2017-11-17 10:02] orangemug commented on #184
Hey @fawick I don't actually use or develop for maputnik/desktop I'm also not a golang developer, so I'll leave this up to others to comment.

[2017-11-20 16:47] CraigglesO opened #198 "when specific data will be available to view."
Sorry if I am wasting your time, I just don't know who exactly to ask this question.

This doesn't really seem like a maputnik issue, but when I use mapbox studio styler, I can get national parks to show up at view 5, however with openmaptiles and maputnik, it won't show up till 6. These little nuances matter to me. And I don't know how to change it. I feel like it is a construct made when designi

[2017-11-20 17:24] orangemug commented on #198
Hey @CraigglesO this looks correct to me. OpenMapTiles supports park polygons for zoom level 6+ you can see this in the docs here <https://openmaptiles.org/schema/#park> (click "Show Diagrams")

[2017-11-20 19:25] CraigglesO commented on #198
Ah! I understand a little better now. Thank you for pointing this out, One more question, is it possible for me to edit parks to show up on z5? If I edit the file:
https://github.com/openmaptiles/openmaptiles/blob/master/layers/park/layer.sql
add:
[code]

Would this work?
Are there any tutorials. I realize this is not your problem, so feel free to close this if you don't have an easy answer.

Than

[2017-11-20 21:07] orangemug commented on #198
No problem, glad to help. The SQL question is probably one for the https://github.com/openmaptiles/openmaptiles issue tracker (I also don't really have many skills in that area)

[2017-11-20 21:07] #198 closed

[2017-11-21 13:18] orangemug commented on #109
Hey @gregorywolanski sorry for the delay I forgot about this ticket. Whatever is easier really, I'm personally still not 100% how this is going to feel UX wise. However I suggest getting a branch/pull request in a basic working state so we can test it out.

[2017-11-21 19:50] gregorywolanski commented on #109
I give up on this issue.

The changes required in the codebase are too big for me to make as a casual contributor.

I’ll continue to watch the repo and possibly solve some smaller future issues.

[2017-11-22 07:50] orangemug commented on #109
Yeah this is quite a big feature @gregorywolanski thanks for taking a look. There will be a bunch of smaller issues raised soon(ish)

[2017-11-28 08:57] #131 closed

[2017-11-29 12:06] orangemug commented on #41
@gregorywolanski so I guess the first thing to work out is this possible

If so then lets do that.

If that's not possible then we could probably just show one feature in the popup and mark it in someway stating there are multiple to the user. How about `water (x3)` to show there are `3` duplicate layers for example. This means we're still telling the user the truth about the data source but not s

[2017-11-29 12:37] pathmapper opened #202 "Option to display the tile boundaries"
It would be useful to have an option to display the tile boundaries (https://www.mapbox.com/mapbox-gl-js/api/#map#showtileboundaries). See also: https://github.com/maputnik/editor/issues/41#issuecomment-338492789

[2017-11-29 12:49] pathmapper commented on #41
@orangemug thanks, sounds good!

Just noticed that the mentioned issue [Use globally unique object ID-s](https://github.com/openmaptiles/openmaptiles/issues/303) has been added to the [v3.7 milestone of Openmaptiles](https://github.com/openmaptiles/openmaptiles/milestone/10), so maybe it will be part of the next release.

With unique object ID-s it should be possible to filter/remove the duplicate

[2017-11-29 13:18] pathmapper opened #203 "Add support for text-rotate property functions"
When opening a style with Maputnik using data-driven style property for text-rotate like

[code]

the following error is displayed:

layers[_number_].layout.text-rotate: property functions not supported

Maybe also other property functions implemented in GL JS are not supported by Maputnik.

[2017-11-29 13:35] orangemug commented on #203
@pathmapper do you have a link to a style showing the issue?

[2017-11-29 13:48] pathmapper commented on #203
@orangemug here it is: [text-rotate.json.zip](https://github.com/maputnik/editor/files/1513979/text-rotate.json.zip)

I experienced it with the online version of Maputnik.

[2017-11-29 18:41] ericsvendsen opened #206 "Unable to remove active source"
I'm trying to figure out how to remove all active sources in the editor. For example, if you go to https://maputnik.github.io/editor, click the "Sources" menu, and try to remove `#openmaptiles` from active sources, it doesn't work and an error occurs:
[code]
How can I remove the default active source?

[2017-11-29 19:21] orangemug commented on #206
That'll probably be because it's currently used in your active style. If you click 'open' you can start with an empty style.

Does that help?

[2017-11-29 19:30] #97 closed

[2017-11-29 19:58] ImreSamu commented on #82
yes,

AND/OR  a split screen?  http://bl.ocks.org/sigdeletras/8e14a1599d0ba5393d668c808f2b8061

[2017-11-29 20:40] ericsvendsen commented on #206
Yes, I see that now. Sorry, that should have been obvious to me. Now once I figure out how to default to an empty style I'll be all set. Thanks!

[2017-11-29 20:51] gregorywolanski commented on #82
@ImreSamu

I can add the link.

Split screen seems to me to be a too specific feature for Maputnik.

What do you think, @orangemug?

[2017-11-29 21:19] orangemug commented on #82
@gregorywolanski yeah split screen is too specific in my opinion also. I think we should add the link, do you have an idea of where you'd put it in the UI.

Might be worth holding off for a couple of days until I have proposed my ideas for a new UI.

[2017-11-29 21:23] gregorywolanski commented on #82
I’m holding off then. I’m curious about your ideas. :)

[2017-11-29 22:01] orangemug commented on #206
If you click "Open" from the toolbar there is an "Empty style" in the "Gallery Styles" section.

[2017-11-29 22:05] ericsvendsen commented on #206
Right, sorry that's not what I meant. I'm building this project from source to use on a closed network, and I'd like the app start out with an empty style and, by extension, no default source.

[2017-11-29 22:27] orangemug commented on #206
Ah ok sorry I misunderstood. There is a `?style=` parameter for loading a style from the url if that helps.

Example <https://maputnik.github.io/editor/?style=https://raw.githubusercontent.com/lukasmartinelli/osm-liberty/gh-pages/style.json#3.81/50.40/20.75> replace with whatever style you'd like to load

Anyway it looks like your problem is solved, so I'll close the issue.

[2017-11-29 22:27] #206 closed

[2017-12-01 01:56] nyurik commented on #116
Per @pjsier, this issue still exists for the function/data property fields. The #200 solves only a part of this issue.  See https://github.com/maputnik/editor/pull/200#issuecomment-348357952

[2017-12-01 12:34] cdqrain opened #208 "localhost vector tiles support?"
I have a Vector Tiles server on my native enviroment. The Address like this `http://localhost:5000/VectorTiles/layer/{z}/{x}/{y}`, it return mapbox spec vectortiles. How to add it as a Source ?

[2017-12-01 12:57] pathmapper commented on #208
**Sources** -> **Add New Source**

![image](https://user-images.githubusercontent.com/20856381/33483733-825fab54-d69f-11e7-9504-30b6cb02029d.png)

[2017-12-01 13:51] cdqrain commented on #208
I know, but after add the source, I can not see the map. when zoom in/out, the chrome Network can not capture request url.

[2017-12-01 14:07] ImreSamu commented on #208
@cdqrain :  some debugging tips:
* vector is XYZ URL , so your link is not OK    ( "/{z}/{x}/{y}.pbf"  )
* Check in "Inspect Mode"
*  [OSMLab QA Tiles (Mapbox )](http://osmlab.github.io/osm-qa-tiles/)   has only 1 zoom level [ z=12 ]  - so zoom in - zoom out is not working.

[2017-12-01 14:08] orangemug commented on #208
This might be the http/https issue as described in #177. If you using `maputnik.github.io` I believe you'll only be able to use `https` tile sources due to the same-origin policy.

You should see warnings in the browsers inspector

[2017-12-01 14:37] cdqrain commented on #208
@orangemug  I use maputnik in my local machine, should I change the tile server from HTTP to HTTPS?

[2017-12-01 14:39] cdqrain commented on #208
@ImreSamu  I serve the vector tile from .NET Core WebAPI, the URL **MUST** be ended with `.pbf` ?

[2017-12-01 14:42] orangemug commented on #208
@cdqrain if maputnik is served locally over `http://` then you can ignore my suggestion.

[2017-12-01 14:44] cdqrain commented on #208
@orangemug But why maputnik can not request the source URL that I added?

[2017-12-01 14:53] orangemug commented on #208
It'll probably be one of 2 things

 - The url you provide isn't returning the any of the correct data
 - Some permissions issue with the request

As @ImreSamu suggested, console and network logs from the browsers inspector will help diagnose the issue

[2017-12-01 16:07] ImreSamu commented on #208
@cdqrain :

Your vector tile URL should work from the browser or via wget.
see more (.mvt , .vector.pbf, .pbf): https://github.com/mapbox/vector-tile-spec/issues/69

You can replace manually the z/x/y values in your url, and you can test - it is working or not.

Sometimes it is a special link like `http://localhost:3000/my-test-data/14/4823/6160.vector.pbf?access_token=my-top-secret-key`, so you h

[2017-12-01 17:00] orangemug commented on #164
From <https://github.com/maputnik/editor/issues/177#issuecomment-341619376>

I also used the same method to see preview in bl.ocks.org as well...all went fantastically smooth and students loved using Maputnik to see vector tiles being stylized and able to view the web map w/ any style they wanted!

Thanks @keum!

[2017-12-02 02:11] cdqrain commented on #208
@ImreSamu  The issue is maputnik can not request the Vector Tiles. Chrome Network inspector is empty.
I'm sure the tile server is working. I had used Leaflet.VectorGrid to view the tiles.

[2017-12-03 19:14] gregorywolanski commented on #41
I think “water × 3” works better than “water (×3)”. It’s easier to read.

<img width="220" alt="1" src="https://user-images.githubusercontent.com/787518/33528765-3f022846-d866-11e7-8f79-fe1f62da079f.png">

Let me know what do you think, @orangemug and @pathmapper, and then I’ll create a pull request.

[2017-12-04 07:52] orangemug commented on #41
Looks good to me @gregorywolanski

[2017-12-04 08:03] orangemug commented on #208
Ok so a few more things that might help. Maputnik is really just a JSON editor so lets work backwards from that

 1. `Export -> Download` the style and check that the vector x/y/z source you expect is present the sources section of that JSON file.
 2. Have you created a layer that uses the source in your style?

[2017-12-05 00:18] cdqrain commented on #208
@orangemug When I add a layer, it gives me some error
`warning.js:33 Warning: Failed prop type: The prop `value` is marked as required in `MinZoomBlock`, but its value is `undefined`.
    in MinZoomBlock (created by LayerEditor)
    in LayerEditor (created by App)
    in div (created by ScrollContainer)
    in ScrollContainer (created by AppLayout)
    in div (created by AppLayout)
    in div (cre

[2017-12-06 10:03] orangemug commented on #208
@cdqrain they are just warnings and look fine to me. Can you also provide the details requested in <https://github.com/maputnik/editor/issues/208#issuecomment-348887341>

[2017-12-06 17:07] orangemug commented on #123
CircleCI and hence per branch builds are now enabled. You need to be logged in to see the build. You can see an example at <https://circleci.com/gh/maputnik/editor/1>

[2017-12-06 17:10] #123 closed

[2017-12-07 15:04] cdqrain commented on #208
@orangemug  Hi, Maputnik can request my VectorTiles when I add layer. But for my VT projection is EPSG:4326 that Mapbox GL does't support. So I still can not view the data. Is it possible that Mapbox GL can use EPSG4326?

[2017-12-10 11:40] chebourne opened #210 "Adding GeoJSON files example video"
I don't know what i'm doing wrong - following the video: https://www.youtube.com/watch?v=hzJ-CPVykDE

for adding external GeoJSON files and I get nothing.

I have tried online Maputnik and Local - running on windows. Have tried Firefox and Chrome.

I choose blank style at opening and follow the video copying links from geojson.xyz and adding as sources but I get nothing when going to inspect mode.

[2017-12-10 11:58] pathmapper commented on #210
Just tried it using online Maputnik with "Populated Places" https://d2ad6b4ur7yvpq.cloudfront.net/naturalearth-3.3.0/ne_50m_populated_places.geojson and it works for me:

![image](https://user-images.githubusercontent.com/20856381/33804638-4229f4d4-dda9-11e7-976f-7e23befa5157.png)

Do you switch the "Source Type" to "GeoJSON" when adding the new source?

![image](https://user-images.githubusercont

[2017-12-10 12:28] pathmapper commented on #208
@cdqrain

Good to hear, sounds like your issue here is solved.

Never tried the following, but maybe they are good starting points:

- https://github.com/openmaptiles/openmaptiles/issues/179#issuecomment-283120867
- https://www.developmentseed.org/blog/2016/12/15/dirty-reprojectors/

[2017-12-11 09:57] chebourne commented on #210
Yes, I am choosing GeoJSON - still no luck for me.

![image](https://user-images.githubusercontent.com/20801744/33825446-8d8b4968-de59-11e7-8c5c-f22c3d800a67.png)

Have tried:
Firefox 58.0b10 (64bit) on Windows 7
Chrome 63.0.3239.84 (64bit) on Windows 7
Firefox 57.0.1 (64bit) on Windows 10
Chrome 62.0.3202.94 (64bit) on Windows 10

Maputnik works without any problems otherwise.

Is there anyway of

[2017-12-11 11:14] orangemug commented on #210
Hey @chebourne so basically there are two things that are most likely incorrect. Either the editor hasn't added the source correctly to the style or mapbox-gl-js can't request the source

To help us further diagnose the issue.

 1. Export the network trace
    1. In chrome open the inspector go to the network tab.
    2. Refresh the page and complete the action
       - Add the geojson source

[2017-12-11 13:30] pathmapper commented on #210
@chebourne noticed on your screenshot that you are using http://editor.openmaptiles.org .
Did you try it also with https://maputnik.github.io/editor/? Looks like there are differences between both versions, e.g. https://github.com/maputnik/editor/pull/133 is available with editor.openmaptiles.org . Also maputnik.github.io/editor/ is using SSL by default.

Tried it again with both versions and now

[2017-12-11 13:40] orangemug commented on #210
@pathmapper browsers won't allow requests from `http -> https` or `https -> http`. If you use https://editor.openmaptiles.org you'll get the same error.

[2017-12-11 13:41] pathmapper opened #211 "Wiki: Link for for online version needs to be updated"
On all 6 wiki pages, e.g.:

![image](https://user-images.githubusercontent.com/20856381/33833803-2719c5d8-de81-11e7-95bd-27268fa638ed.png)

[2017-12-11 13:59] pathmapper commented on #210
@ hmm, I thought `http -> https` is possible.

Here is an example where it was possible to add the geojson source:

editor.openmaptiles.org (`http`) was able to get the geojson file via `https`

![image](https://user-images.githubusercontent.com/20856381/33834531-86f5cff4-de83-11e7-9547-be7276435300.png)

[2017-12-11 20:28] chebourne commented on #210
Thanks for looking into this but I assume there is no conclusion. I tried from https instead but still no luck.

HAR and style files attached as requested by @orangemug
[maputnik.zip](https://github.com/maputnik/editor/files/1549267/maputnik.zip)

[2018-01-04 16:13] keum opened #212 "Preview Export to bl.ocks.org not working"
I'm trying to Preview stylized map using Export feature with Tilehosting https://www.tilehosting.com/ API and got it to work few weeks ago but now getting blank screen at bl.ocks.org site now. Anyone having similar issue?

[2018-01-04 21:03] keum commented on #212
Currently using Export style option save to Gist preview link shows blank map as stated above, in our testing to downloaded file to display locally, we were able to show the basemap by changing
https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js
https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css
v0.28.0 -> v0.43.0
we would like this to be updated so upcoming Maputnik demonstration, peo

[2018-01-05 09:30] orangemug commented on #212
@keum I'll try find some time to sort it out. When is your demonstration?

[2018-01-05 09:38] orangemug commented on #153
https://mapzen.com/blog/shutdown 😢

[2018-01-05 15:43] keum commented on #212
thanks @orangemug in two weeks. One solution is to download locally and change those api version to 0.43.0 and spin local web machine and open the map that way but...it's so much nicer w/ bl.ocks.org site and easier to share w/ other participants. thanks!

[2018-01-05 15:56] keum commented on #212
@orangemug here is screen shots to tell what i'm describing in case it's not too clear.

![image](https://user-images.githubusercontent.com/1133652/34616664-c65f34be-f1ed-11e7-9fc5-ebf734fcfa1f.png)

[2018-01-05 15:57] keum commented on #212
@orangemug oops..forgot to add second image
![image](https://user-images.githubusercontent.com/1133652/34616734-f3156f6e-f1ed-11e7-8737-88b0a4bc7702.png)

thanks for looking into it. really appreciate it.

[2018-01-08 15:03] lukasmartinelli commented on #153
Did we remove the mapzen tileset from the presets?

[2018-01-15 11:35] chebourne commented on #210
Just got back to trying this again and still no luck. I even downloaded the example geojson files from geojson.xyz. stored them on a local web server (on port 80), ran Maputnik locally (on port 8000), added the geojson sources from the local server e.g. http://localhost/GeoJSON/ne_50m_ocean.geojson. So nothing on https all on http and still no luck - nothing showing when entering inspect mode - ge

[2018-01-17 15:08] chebourne opened #215 "Still struggling with editing GeoJSON files"
Re: Adding GeoJSON files example video https://github.com/maputnik/editor/issues/210

Just got back to trying this again and still no luck. I even downloaded the example geojson files from geojson.xyz. stored them on a local web server (on port 80), ran Maputnik locally (on port 8000), added the geojson sources from the local server e.g. http://localhost/GeoJSON/ne_50m_ocean.geojson. So nothing on

[2018-01-18 21:48] #212 closed

[2018-01-18 22:24] orangemug commented on #212
Hey @keum I've made a beta v1.1.0 release with that changes you asked for, it is available at https://maputnik.github.io/editor-v1.1.0-beta I'll let some people give it a test before I release to `/editor` feel free to use <https://maputnik.github.io/editor-v1.1.0-beta> for your demo.

Sorry it took so long, I've been a little under the weather and haven't found any time. Hopefully I've got these

[2018-01-19 01:24] pkgeo commented on #212
hi @orangemug, thank you much! Yes, it works to export into blocks.org to preview fine. But i found another issue in your beta version.  In add layer dialog box, it appears that you can not select the source nor able to type in the source (only first letter shows up).  Thanks for all your work, really appreciate it!
![screen shot 2018-01-18 at 5 20 44 pm](https://user-images.githubusercontent.com/

[2018-01-19 10:23] orangemug commented on #212
@pkgeo thanks for the report, interestingly enough it does work use keyboard up down to select the source... Looking into this now.

If you have any spare time, a general test of the beta version would be much appreciated.

[2018-01-19 11:33] pathmapper commented on #203
@orangemug thanks for the beta!
With https://maputnik.github.io/editor-v1.1.0-beta the error is gone, looks like the update to GL JS v.0.43.0 solved it.

[2018-01-19 11:33] #203 closed

[2018-01-19 11:58] orangemug opened #218 "Autocomplete broken"
Reported by @pkgeo in https://github.com/maputnik/editor/issues/212#issuecomment-358837573

Added to this clicking the autocomplete menu items in the UI also fails to select the item. Note that using the keyboard to select items does work correctly.

[2018-01-19 13:45] #218 closed

[2018-01-19 14:00] orangemug commented on #218
Release in `v1.1.0-beta2` see https://maputnik.github.io/releases/v1.1.0-beta2

[2018-01-19 14:02] orangemug commented on #212
The issues @pkgeo reported have been fixed. Released in `v1.1.0-beta2` see https://maputnik.github.io/releases/v1.1.0-beta2/

Note for @keum use https://maputnik.github.io/releases/v1.1.0-beta2

[2018-01-19 14:07] orangemug commented on #130
Merged @gregorywolanski PR #185 released in `v1.1.0-beta2` https://maputnik.github.io/releases/v1.1.0-beta2

Note: I'll release v1.1.0 properly (to https://maputnik.github.io/editor) once I've given everybody a change to raise any further issues.

[2018-01-19 14:07] #130 closed

[2018-01-19 14:22] orangemug opened #220 "Release v1.1.0"
If any users have some time and wouldn't mind giving the v1.1.0 beta a test, it'd be much appreciated.

Basically just use v1.1.0-beta3 at <https://maputnik.github.io/releases/v1.1.0-beta3> anything broken that wasn't broken in the previous version at <https://maputnik.github.io/editor> please report.

Please also respond "I've checked it and it appears to be just fine" or something to that effect

[2018-01-19 14:28] orangemug commented on #211
I discussed this with @lukasmartinelli over xmas, we decided we're going to move back to http://maputnik.com. I'll close this ticket when that is complete.

[2018-01-19 14:31] orangemug commented on #60
Released in [v1.1.0-beta2](https://maputnik.github.io/releases/v1.1.0-beta2)

[2018-01-19 14:31] #60 closed

[2018-01-19 19:36] justenPalmer commented on #220
Nice work! Does this include the newest release of MapboxGL that supports expressions? I just submitted a pull request yesterday to address that issue.

[2018-01-19 20:01] keum commented on #220
@orangemug I just went to https://maputnik.github.io/releases/v1.1.0-beta2 but it looks like it's loading but shows up for a second then goes blank showing black screen. I'm not sure if i'm missing something.

[2018-01-19 21:25] orangemug commented on #220
@keum it seems to work in every browser I have available... Two things to try

 1. Open in incognito mode
 2. Add a trailing slash to the url <https://maputnik.github.io/releases/v1.1.0-beta2/> this should be happening automatically, maybe its not though

If that doesn't work can you see if there are any errors in the console?

[2018-01-19 22:34] keum commented on #220
@orangemug thanks for your reply!
I opened it in Chrome's incognito mode and it worked and was able load my own vector tile to export to preview without any issue (like it did before it broke w/ older mapbox gl-js v0.23.0  BUT when i refreshed the browser, it went blank again.  I tried in Firefox and same black screen result. I'm going to have different people open it from work and see I can dupli

[2018-01-19 22:49] keum commented on #220
@orangemug this is what showed up on console from firefox browser.
hope this helps.
-------
Falling back to local storage for storing styles

Unable to perform style diff: Unimplemented: setGlyphs..  Rebuilding the style from scratch.

Setting sources

TypeError: C[a[1].type] is undefined
Stack trace:
value@https://maputnik.github.io/releases/v1.1.0-beta2/app.eb0ffcb45041342ba648.js:24:95871
value

[2018-01-20 09:37] orangemug commented on #220
Ok so I believe these lines are the issue

https://github.com/maputnik/editor/blob/master/src/components/modals/AddModal.jsx#L104-L108

I think you've got a source loaded that I'm not checking for in the code.

@keum can you upload either the exported style, or just the `sources` part of the style json?

[2018-01-20 09:50] orangemug commented on #220
@keum I've also added a guard against this error on a branch (https://github.com/orangemug/editor/tree/fix/added-guard-to-get-sources). This is a potential temporary fix, so I'll still need the details requested from comment https://github.com/maputnik/editor/issues/220#issuecomment-359159018

You can find the build for that branch here https://198-84182601-gh.circle-artifacts.com/0/tmp/circle-art

[2018-01-20 20:03] keum commented on #220
@orangemug Thanks! branch link you sent me works! yeah.. I like the zoom level viewer on upper right corner plus able to pull down source from drop down box in Add Source..that's sweet.
Here is a link to blocks.org https://bl.ocks.org/anonymous/ffceb747fd4885b7723882fc5053999d
you need to view it in Firefox and disable protection to view the data...

I'm not sure if I should write a tix about this

[2018-01-20 20:14] keum commented on #220
Hi @orangemug, btw I went to your http://orangemug.co.uk but that URL doesn't work anymore :( anyway, thanks! 👍

[2018-01-21 16:01] gregorywolanski commented on #220
"I've checked it and it appears to be just fine" :)

[2018-01-22 00:00] ARolek commented on #220
@orangemug will the 1.1 release of maputnik bump the version of mapbox-gl to 0.43.0?

[2018-01-22 03:55] keum commented on #220
@ARolek I can confirm that it's using 0.43.0
![screen shot 2018-01-21 at 7 52 31 pm](https://user-images.githubusercontent.com/1133652/35204750-fbee1308-fee4-11e7-9ef0-611d5baed0e6.png)

and @orangemug thanks, "I've checked it and it appears to be just fine" ! I love way you can just share your style within Maputnik with others (if your data source is on-line)
![screen shot 2018-01-21 at 7 53 27 p

[2018-01-22 06:51] pathmapper commented on #220
@orangemug thanks a lot! I've tried several things with the latest beta and everything looks fine for me so far.

[2018-01-22 07:50] gregorywolanski commented on #220
@orangemug Can we pack https://github.com/maputnik/editor/pull/222 into this release?

[2018-01-22 09:34] orangemug commented on #220
@gregorywolanski I released #222 in [v1.1.0-beta3](https://maputnik.github.io/releases/v1.1.0-beta3)

I'll leave it a day or so for anyone else to raise any issues, and release a `v1.1.0` on Wednesday. This will be released to <https://maputnik.github.io/editor>.

Thanks everyone for testing the editor, much appreciated.

[2018-01-22 22:30] ARolek commented on #220
Awesome. Is there any discussion around adding a UI for the new expression syntax?

[2018-01-23 06:03] keum commented on #215
Hi @chebourne,
I had something similar when I was trying to load my own geojson file using http-server locally. I tracked this email I wrote while back. Hopefully this helps. I know it's not the actual solution but  solved the issue and I got it to display my own geojson(small enough file) to display locally run Maputnik for testing data purpose. Let me know if this works.
*Try to add test.geojson

[2018-01-23 06:06] #181 closed

[2018-01-23 07:39] orangemug opened #223 "Add support for expressions"
This ticket is here to start discussions around [expressions](https://www.mapbox.com/mapbox-gl-js/style-spec/#expressions). See <https://blog.mapbox.com/announcing-expressions-in-gl-js-a72b55d0a6af> for a good introduction to the subject.

Questions we need to answer

 - How are users currently using expressions, is the JSON editor sufficient?
 - If not how would you like to see expressions implem

[2018-01-23 07:40] orangemug commented on #223
I did a little bit of exploration around creating a mini language for the new expression syntax over in another repository <https://github.com/orangemug/simple-expr> you can see discussion in <https://github.com/orangemug/simple-expr/issues/1>

[2018-01-23 07:41] orangemug commented on #220
@ARolek thanks. I opened a new issue #223 to discuss the new expression syntax

[2018-01-23 09:12] chebourne commented on #215
Hi @keum ,
Thanks for the advice but it did not make a difference - I couldn't even get the geojson.xyz URL's to work let alone local server.

However, I think I have solved the problem:

I use various privacy and tracking addons, particularly in Firefox, like Cookie Autodelete, Privacy Badger and uBlock Origin.

Disabling these for the sites concerned - not just the Maputnik editor site but local

[2018-01-23 13:06] orangemug commented on #215
@chebourne sounds like your issue is solved. Closing the issue.

[2018-01-23 13:06] #215 closed

[2018-01-23 13:07] orangemug commented on #210
@chebourne was this solved with your solution in #215, and if so can we close this issue?

[2018-01-23 13:19] orangemug commented on #208
For anybody else finding this ticket, this comment provides a good answer  https://github.com/mapbox/mapbox-gl-js/issues/3184#issuecomment-321530150

[2018-01-23 13:20] orangemug commented on #208
This looks to be resolved. Closing the ticket, just shout if I've missed something and I'll reopen.

[2018-01-23 13:20] #208 closed

[2018-01-23 13:44] #210 closed

[2018-01-24 03:43] wxqqq opened #224 "fetchSource has error"
when i add a mapbox style
it include
[code]
the App.jsx
fetchSources(){
}
![image](https://user-images.githubusercontent.com/8252997/35313503-ab178996-00fb-11e8-8340-2ac7507cb629.png)

fetch can't request like 'mapbox://'

[2018-01-24 09:32] orangemug commented on #224
Thanks @xiaoq07. I think we need this function https://github.com/mapbox/mapbox-gl-js/blob/decea3f0b137953c1f8c3fa3d3b18cb61bb8469a/src/style/style.js#L159

[2018-01-24 09:34] xiaoq07 commented on #224
you are right!

[2018-01-24 09:48] orangemug commented on #220
We'll need to fix #224 before releasing

[2018-01-25 00:12] ARolek opened #225 "[v1.1.0 - beta 3: safari] Clicking open creates overlay which blocks the user from subsequent actions [screenshot]"
I'm using Safari version: 11.0.2. When clicking "Open" to load a style, the overlay does not appear to load correctly blocking the user for subsequent actions.

<img width="1562" alt="screen shot 2018-01-24 at 4 02 00 pm" src="https://user-images.githubusercontent.com/667850/35363902-48e98406-0121-11e8-9ca3-11d16678f65d.png">

[2018-01-25 08:41] orangemug commented on #225
Thanks @ARolek. This is fixed in PR #226. You can give it test here <https://199-84182601-gh.circle-artifacts.com/0/tmp/circle-artifacts.4B9143b/build/index.html>. I'll release a beta4 when we have resolved the other outstanding issue.

[2018-01-25 18:17] #225 closed

[2018-01-25 18:53] orangemug commented on #224
I've got a working solution for this, I'll make a PR shortly.

[2018-01-25 19:53] orangemug commented on #224
@wxqqq branch build is here <https://201-84182601-gh.circle-artifacts.com/0/tmp/circle-artifacts.BY8Bso5/build/index.html#0/0/0> if you'd like to test

[2018-01-25 19:59] bradjonesca commented on #220
FYI: https://github.com/mapbox/mapbox-gl-js/releases/tag/v0.44.0

[2018-01-26 01:31] wxqqq commented on #224
it‘s  great, i will pull it

[2018-01-26 12:37] #224 closed

[2018-01-26 15:50] orangemug commented on #220
Issue #224 is resolved, I released [v1.1.0-beta4](https://maputnik.github.io/releases/v1.1.0-beta4)

Anything non urgent can wait until the next minor release. I'll publish to `https://maputnik.github.io/editor` sometime Sunday, as I'm away the next couple of days.

Next week I'll publish a new minor release with `mapbox-gl-js@0.44.0` (thanks @bradjonesca info)

[2018-01-28 14:41] bradjonesca commented on #220
Another FYI: https://github.com/mapbox/mapbox-gl-js/pull/6068#issuecomment-361063232

[2018-01-29 15:30] frodrigo commented on #113
Issue still present on version running at http://editor.openmaptiles.org

[2018-01-29 16:01] pathmapper commented on #113
@frodrigo don't know how up-to-date http://editor.openmaptiles.org/ is.

Did you try it also with https://maputnik.github.io/releases/v1.1.0-beta4 ?

See also: https://github.com/maputnik/editor/issues/220

[2018-01-29 16:11] frodrigo commented on #220
https://maputnik.github.io/releases/v1.1.0-beta4/#0.82/0/0
fails to load for me with
[code]

[2018-01-29 16:16] frodrigo commented on #113
I use editor.openmaptiles.org because sometime my sources are not in httpS. And maputnik.github.io run only in httpS.

[2018-01-29 16:31] orangemug commented on #220
@frodrigo are you able to share the style with us that's causing the issue? Otherwise any more details you have would be helpful

[2018-01-29 16:35] frodrigo commented on #220
It appends on page load, before doing anything.
But now it works. It was probably link the content of my previous local stage.

[2018-01-29 16:41] frodrigo commented on #220
It appends when I load this style
[admin-level.json.txt](https://github.com/maputnik/editor/files/1674403/admin-level.json.txt)

[2018-01-29 16:52] orangemug commented on #220
@frodrigo the sources look invalid to me. See

[code]

Either way it shouldn't error like this though.  I'll push a patch up soon(ish)

Thanks for reporting the issue!

[2018-01-30 21:40] orangemug commented on #220
v1.1.0 is released https://maputnik.github.io/blog/2018/01/30/release-v1.1.0

[2018-01-30 21:40] #220 closed

[2018-01-30 21:41] justenPalmer opened #229 "Adding a style without Glyphs defined throws an exception with no feedback in interface"
To replicate, upload a style.json file without a property "glyph". Nothing happens in the interface and console logs the following exception:

Uncaught TypeError: Cannot read property 'replace' of undefined

[2018-01-30 21:46] orangemug commented on #41
Released in v1.1.0. Congrats @gregorywolanski it works great!

[2018-01-30 21:46] #41 closed

[2018-01-30 22:18] pathmapper commented on #229
@justenPalmer just to be sure:
Does your style contains a layer which uses the `text-field` layout property?

From the [style-spec](https://www.mapbox.com/mapbox-gl-js/style-spec/#root-glyphs):

[2018-01-30 22:42] justenPalmer commented on #229
Actually the style.json file I am using only has one layer defined which is the `background` layer. It has no `text-field` thus should not require the `glyph` property according to the spec.

[2018-01-30 22:56] pkgeo opened #230 "Export to preview in Gist blocks.org Mapbox basemaps not displaying"
Hello,
I'm using v 1.1.0, trying to export to view in Gist and using any of mapbox basemap (satellite, basic, bright) won't display their basemap. Using klokantech basemap displays fine. Here is gist
https://bl.ocks.org/anonymous/1e97f8d9cf35cdff8f9181ddd39abf76

Here is mapbox basic basemap: https://bl.ocks.org/anonymous/e708c1684163404fbdd5d308e6e7f686
I downloaded index and style locally to dis

[2018-01-31 08:18] pathmapper commented on #230
Hi @pkgeo ,
the Mapbox basemap is not displayed because of a missing Mapbox access token.

As far as I can see, there is currently no option to provide a Mapbox access token when saving a style to a gist including a preview.

![image](https://user-images.githubusercontent.com/20856381/35611801-8c9437f6-0666-11e8-86b1-216be4c1a5f6.png)

To workaround, you may manually add your acces token to the `i

[2018-01-31 09:17] pathmapper commented on #220
@orangemug thanks a lot!

On https://github.com/maputnik/editor/releases v1.0.2 is still marked as _Latest release_.

![image](https://user-images.githubusercontent.com/20856381/35614451-749acc7e-066f-11e8-96d9-31b1007fdae7.png)

[2018-01-31 09:23] frodrigo commented on #220
Works for me now, thank you.

[2018-01-31 10:30] orangemug commented on #220
Thanks @pathmapper I actually had no idea that existed 🤔. I'll take a look later on this evening.

[2018-01-31 17:50] gregorywolanski commented on #41
@orangemug Can you please mail me at github.com@gregorywolanski.com?

[2018-01-31 17:55] orangemug commented on #41
@gregorywolanski message waiting in your inbox

[2018-01-31 18:05] keum commented on #230
Thanks @pathmapper! I'll use this method. I think you can close this ticket.

[2018-01-31 18:07] orangemug commented on #230
Actually leave this open and we'll fix it properly. It should present an `<input />` where you can enter your mapbox token.

[2018-01-31 18:11] keum commented on #230
That'll be awesome to input your own mapbox token or klokantech token to get your basemap display!

[2018-01-31 20:17] pathmapper commented on #230
In the _Style Settings_ there is already a field to put a Mapbox token:

![image](https://user-images.githubusercontent.com/20856381/35644148-7e6cb27c-06c8-11e8-952a-afad26776bc4.png)

If there is a Mapbox token available in the _Style Settings_, it would be good to pass it through to the _Export Style_ settings (to the new field which will be created), like it is working currently with the OpenMa

[2018-01-31 20:22] pathmapper commented on #153
https://mapzen.com/blog/long-term-support-mapzen-maps/

[2018-01-31 20:32] pathmapper commented on #220
Thanks, maybe it is also possible to provide binaries there, this one could be closed then https://github.com/maputnik/editor/issues/138 .

[2018-01-31 20:37] orangemug commented on #230
@pathmapper thats a good question, I don't know I'm afraid @lukasmartinelli can you confirm the status of those tokens? (see https://github.com/maputnik/editor/blame/master/src/config/tokens.json#L2)

[2018-01-31 20:49] pathmapper opened #232 "Display version number in the UI"
Taken from https://github.com/maputnik/editor/issues/181#issuecomment-342886184 .

[2018-01-31 21:09] orangemug commented on #153
Thanks @pathmapper I've reopened this

[2018-01-31 21:15] orangemug commented on #230
@pathmapper yeah you're right we should just use the tokens already present. How about if they exist we include them in the export otherwise just include a commented out line where a user can add them. Similar to your example in https://github.com/maputnik/editor/issues/230#issuecomment-361856940

[code]

[2018-01-31 21:44] orangemug commented on #232
What do you think? https://206-84182601-gh.circle-artifacts.com/0/tmp/circle-artifacts.kK8mzg8/build/index.html

So it could either be visible like the above or hidden in a modal somewhere.

[2018-01-31 22:22] pathmapper commented on #230
@orangemug I'm all for it!

I think an OpenMapTiles token is already included in the _Export_ if present in _Style Settings_ .

I think I wouldn't do it for three reasons:
1. The commented out line won't work for an OpenMapTiles token, because it is added like this to a TileJSON URL: `https://free.tilehosting.com/data/v3.json?key=YourKey` into the `style.json`.

2. A user would have two options in

[2018-01-31 22:33] pathmapper commented on #232
Wow, this was fast, thanks!

I really like it like this:

![image](https://user-images.githubusercontent.com/20856381/35651050-92ebb8f4-06de-11e8-84b0-e98da5b33fab.png)

Sorry, don't know what you mean exactly :-)

[2018-02-01 08:07] orangemug commented on #232
That'll do then :)

[2018-02-01 08:10] #232 closed

[2018-02-01 09:03] JanC commented on #215
Hi,
I have the same problem. I'm running Maputnik on `127.0.0.1:8888` and a local apache on `localhost:8000` and when I add a local geojson source, I can see the following logs on the JavaScript console:

[code]
I do see the request to `"GET /ne_50m_ocean.json.txt HTTP/1.1" 200 2327565` in the Apache server though ..

I tried different browsers with all ad blocking disabled, renaming the json file

[2018-02-01 09:11] JanC commented on #215
ok solved: It looks like a server setting that needs to be changed .. or use this

https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi?hl=en%5D%5B1%5D

[2018-02-01 11:24] wxqqq opened #234 "source has tiles could not get url"
when source like this:
[code]
app.jsx
the function fetchSources()    'url is undefined'

i think you can fix it .

[2018-02-01 12:01] orangemug commented on #234
Hey @wxqqq does this break the editor? It needs fixing either way, I'm just trying to work out how urgent it is.

[2018-02-01 18:55] pjsier commented on #223
I think it could be nice to have smaller JSON fields for authoring individual expressions, but that doesn't add a ton of value and could be a decent amount of effort. The mini-language could be interesting to try if people are interested, but in general I think the editor covers it

[2018-02-01 20:04] orangemug commented on #230
The preview works you just need to provide a openmaptiles token currently and tick the 'preview' button (its a bug)

Yeah my apologies, I meant just for the mapbox token. Although I realised you can just leave it blank rather than commented out.

All that said here is a PR for these issues #235 and you can see a demo here <https://207-84182601-gh.circle-artifacts.com/0/tmp/circle-artifacts.bMlA3xn

[2018-02-01 21:04] orangemug commented on #234
Ok yeah this is my fault. I fixed autocomplete for openmaptiles only. You can see the code that broke it here <https://github.com/maputnik/editor/pull/196/files>. I see why @lukasmartinelli implemented it that way now...

[2018-02-01 21:10] orangemug commented on #160
Can anybody still reproduce this issue? Or can we close it

[2018-02-01 22:13] justenPalmer commented on #202
Where do you guys think this should be implemented in the interface? One potential option would be to automatically show tile boundaries when in inspect mode.

[2018-02-01 22:29] orangemug commented on #234
There is a temporary fix in #236. You can see a build at <https://209-84182601-gh.circle-artifacts.com/0/tmp/circle-artifacts.ERE7w6P/build/index.html>. @wxqqq would you mind verifying it solves your issue?

**NOTE:** You won't get autocompleting layers for you sources at this time. That'll come in another pull request.

[2018-02-01 23:46] keum commented on #230
@orangemug i just tried out your demo from link above...it works nicely w/ my public access tokens and with klokantech too! pretty sweet... https://bl.ocks.org/anonymous/7c930434648bfb2117e460876ca7aa5d
this is mapbox basic style w/ county open data geojson zipcode data.

[2018-02-02 01:27] wxqqq commented on #234
it don't break the editor;
 #236 can avoid it.

[2018-02-02 01:31] wxqqq opened #237 "mapboxgl should update v0.44.0"
the new version fix some performance bugs you can update it

[2018-02-02 06:59] pathmapper commented on #230
Tested the export including preview with styles using:
- tiles hosted by OpenMapTiles (https://free.tilehosting.com) / own OpenMapTiles key
- tiles hosted by Mapbox / own Mapbox access token
- self hosted tiles / no key or token

All these are working great, also if the key/token is put in _Style Settings_.  Thanks @orangemug !

The only thing I've noticed:
When exporting a style including preview

[2018-02-02 07:08] pathmapper commented on #202
I like your idea @justenPalmer. Personally I wouldn't need a toggle to switch them on/off.

[2018-02-02 07:30] klokan commented on #230
Could you please ensure the fallback key is never used for exports and is never visible to the user of maputnik in the interface or saved JSON files?

The key is a personal thing, people should get their own. If it is used outside of https://maputnik.github.io/editor/ we will need to block it and provide you with a different one.

[2018-02-02 07:54] pathmapper commented on #230
As far as I can see it is working like as you described in the current release: https://maputnik.github.io/editor/

What I've mentioned in https://github.com/maputnik/editor/issues/230#issuecomment-362503328 is a bug related to https://github.com/maputnik/editor/pull/235 .

[2018-02-02 08:12] pathmapper opened #238 "Add option to export to a secret gist"
Currently the export to a gist is creating a public one: https://github.com/maputnik/editor/blob/32d808b2308c98e43cc30fc219f005b8bd1be87a/src/components/modals/ExportModal.jsx#L93

It would be nice to have also the option to create a [secret gist](https://help.github.com/articles/about-gists/#secret-gists).

[2018-02-02 08:35] pathmapper opened #239 "Export gist to personal GitHub account"
Currently the export to Gist is creating an [anonymous gist](https://help.github.com/articles/about-gists/#anonymous-gists).

If a user is logged into GitHub, the gist would be created in the GitHub account.

Maybe the _Login with GitHub_ functionality can be taken from https://github.com/maputnik/editor/issues/155#issuecomment-342917542 ?

Benefits:

- Directly creating a gist in the own GitHub a

[2018-02-02 11:44] orangemug commented on #230
@klokan that's the current situation, and I'll do my best to make sure it stays that way.

[2018-02-02 12:11] pathmapper commented on #230
@orangemug sorry if I misunderstood something or wasn't clear, but for me it looks like you've just merged https://github.com/maputnik/editor/pull/235 without modification and the OpenMapTiles fallback key is exported using the demo you've provided (only when _include preview_ is checked): https://207-84182601-gh.circle-artifacts.com/0/tmp/circle-artifacts.bMlA3xn/build/index.html#12.24/47.37181/8

[2018-02-02 12:27] orangemug commented on #230
Ah you're correct @pathmapper that's also the case in the live version. I'll look at that today, look like it's been that way for a while.

Sorry for the confusion, @pathmapper I think the PR is still ok. I think the issue lies elsewhere. Sorry @klokan this is my priority for later on today.

[2018-02-02 13:12] pathmapper commented on #230
Thanks @orangemug , some more thoughts which might be helpful:

I don't see this issue in the live version. When there is no OpenMapTiles key provided and _Include preview_ is checked, after _Save to Gist (anonymous)_ there is only a link _Source_ (and no link _Preview_ ):

![image](https://user-images.githubusercontent.com/20856381/35734541-d27f0ef0-0821-11e8-8e2e-a1717c2ea051.png)

The gist behi

[2018-02-02 14:04] klokan commented on #230
Thank you guys for verifying this...

BTW It would be clever for the interface to display only the relevant input box for a key.
Hardly ever you would need to fill both Mapbox and OpenMapTiles keys.
There is no point to ask the user for a Mapbox key if he has no source / fonts / glyphs requiring the key in his style.

I am glad people enjoy the Gist export with the Preview which @jirik from @kloka

[2018-02-02 15:56] orangemug commented on #230
@pathmapper yeah you're 100% correct, I misunderstood the issue. I believe PR #240 fixes exposed keys, see build <https://210-84182601-gh.circle-artifacts.com/0/tmp/circle-artifacts.UfmqsHf/build/index.html>

Hardly ever you would need to fill both Mapbox and OpenMapTiles keys.
There is no point to ask the user for a Mapbox key if he has no source / fonts / glyphs requiring the key in his style.

[2018-02-02 15:57] orangemug commented on #223
Thanks @pjsier I expect you're right on this one. I'll leave the ticket open for others to comment

[2018-02-02 16:05] orangemug commented on #202
Would showing tile boundaries by default be confusing? I'm thinking that there are a number of straight lines and right angles on the map already, the US state boundaries for example.

Tile boundaries are not a thing you have to consider most of the time, I think it might just clutter the inspect view if enabled by default. Thoughts?

[2018-02-02 17:35] orangemug commented on #238
Pull request #241. See build here <https://211-84182601-gh.circle-artifacts.com/0/tmp/circle-artifacts.ZbtmOiH/build/index.html>

Note that I made it private by default as that seems a better default. I think it'd be way to easy at the moment to publish sensitive data.

Thoughts?

[2018-02-02 17:49] orangemug commented on #239
I like the idea, probably on hold until I finish the GitHub integration in issue #155.

One thing we can do now is mock up a UI. The way I see it the export modal would need to account for

 - anonymous (public/private)
 - user (public/private)

It'd also be nice to tidy up the export modal in general. For example at the moment we also ask for mapbox/openmaptiles keys on export. If you're using th

[2018-02-02 17:52] klokan commented on #230
Thanks @orangemug ! Just drop me an email to petr.pridal@klokantech.com

[2018-02-02 18:01] orangemug commented on #230
@klokan what's your email address? FYI I followed you on twitter incase you want to DM me instead, I've always been wary of email addresses in issue comments because of spam

[2018-02-02 18:10] keum opened #243 "Would love to version number display"
Hello, It would be great to see current version number display on the header perhaps.
This will be helpful in giving user support(folks using around our group) and any issue tracking w/ the version.  Thanks!
![maputnik-header](https://user-images.githubusercontent.com/1133652/35747941-0cd4b86e-0801-11e8-898f-6d0d7c3e070b.jpg)

[2018-02-02 18:16] orangemug commented on #243
Already done in #232 😁

FYI I'm going to aim to release at most once every week. Mainly due to time constraints, but also the release is a nice opportunity to explain to people what's changed in the editor.